n8n-workflows/content-editorial-brief.workflow.json
{
  "name": "Magnix Layer B — Editorial Brief (intake → meta)",
  "nodes": [
    {
      "parameters": {
        "content": "## Layer B — Editorial Brief + Legal Gate\n- **08:30 VN** · max **5**/lần\n- **Attach Legal Pack** trước LLM (NOXH/vay/định giá)\n- Output: `meta.editorial_brief_v1` + `meta.legal_retrieval_pack`\n- Chạy sau Agent 2 (08:00), trước Agent 3/6",
        "height": 200,
        "width": 440
      },
      "id": "eb00note",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -480,
        160
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "30 8 * * *"
            }
          ]
        }
      },
      "id": "eb01sched",
      "name": "Schedule Editorial Brief",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        200
      ]
    },
    {
      "parameters": {},
      "id": "eb02manual",
      "name": "When clicking 'Execute workflow'",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        400
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://sheets.googleapis.com/v4/spreadsheets/1fYB4h_BTiKXa9O3lBah-tQonWpQOQMG2aSkSfPs6yU4/values/content_queue!A%3AO",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleApi",
        "options": {}
      },
      "id": "eb03fetch",
      "name": "Fetch content_queue",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "function extractQuestion(text) {\r\n  const t = String(text || '').trim();\r\n  if (!t) return [];\r\n  const parts = t.split(/[?？]/).map((s) => s.trim()).filter(Boolean);\r\n  if (parts.length > 1) {\r\n    return parts.slice(0, -1).map((p) => `${p}?`.slice(0, 300)).slice(0, 3);\r\n  }\r\n  if (/[?？]/.test(t)) return [t.slice(0, 300)];\r\n  return [];\r\n}\r\n\r\nfunction buildIntakeStubFromRow(row) {\r\n  const text = String(row.text || '').trim();\r\n  const segment = String(row.segment || 'general_inbound').trim().toLowerCase();\r\n  const score = Number(row.score || 0);\r\n  const platform = String(row.platform || 'tiktok').trim().toLowerCase();\r\n  const questions = extractQuestion(text);\r\n  const summary = text.slice(0, 500);\r\n\r\n  return {\r\n    intake_version: 1,\r\n    verdict: score >= 70 ? 'qualified' : score >= 40 ? 'maybe' : 'reject',\r\n    score,\r\n    reject_reason: null,\r\n    summary,\r\n    conversation: {\r\n      surface_topic: summary.slice(0, 200),\r\n      explicit_questions: questions.length ? questions : [summary.slice(0, 120)],\r\n      implicit_fears: [],\r\n      misconceptions: [],\r\n      journey_stage: 'consideration',\r\n      audience_voice: text.slice(0, 300),\r\n    },\r\n    content_signals: {\r\n      pain_intensity: Math.min(100, Math.max(0, score)),\r\n      discussion_heat: score >= 75 ? 'high' : 'medium',\r\n      inbound_potential: score >= 70 ? 'medium' : 'low',\r\n      segment_hint: segment,\r\n      evidence_quotes: text ? [text.slice(0, 120)] : [],\r\n      single_insight_clip: true,\r\n      hook_candidate: text.slice(0, 80),\r\n      cta_keyword_hint: segment === 'noxh_income' ? 'NOXH' : 'CHECKLIST',\r\n    },\r\n    compliance_flags: [],\r\n    _stub: true,\r\n    _stub_source: String(row.intake_stub_source || row.source || 'classified_row'),\r\n    _stub_platform: platform,\r\n    _stub_normalized_key: String(row.normalized_key || ''),\r\n  };\r\n}\r\n\r\nfunction ensureIntakeV1(row, meta) {\r\n  if (meta?.intake_v1 && typeof meta.intake_v1 === 'object') {\r\n    return { meta, intake_v1: meta.intake_v1, stubbed: false };\r\n  }\r\n  const intake_v1 = buildIntakeStubFromRow(row);\r\n  const next = { ...meta, intake_v1, intake_stub_at: new Date().toISOString() };\r\n  return { meta: next, intake_v1, stubbed: true };\r\n}\n\nconst MIN_SCORE = 70;\nconst BATCH = 5;\n\nconst ALLOW_SEGMENTS = new Set([\n  'noxh_income', 'valuation', 'sme_credit', 'general_inbound',\n]);\n\nfunction parseMeta(raw) {\n  if (!raw) return {};\n  try {\n    return typeof raw === 'string' ? JSON.parse(raw) : raw;\n  } catch {\n    return {};\n  }\n}\n\nconst res = $input.first().json;\nconst rows = Array.isArray(res.values) ? res.values : [];\nif (rows.length < 2) {\n  return [{ json: { empty: true, message: 'content_queue trống' } }];\n}\n\nconst headers = rows[0].map((x) => String(x ?? '').trim().toLowerCase());\nconst out = [];\n\nfor (let i = 1; i < rows.length; i += 1) {\n  const cells = rows[i];\n  if (!cells?.some((c) => String(c ?? '').trim())) continue;\n\n  const row = { sheet_row: i + 1 };\n  headers.forEach((key, j) => {\n    if (key) row[key] = cells[j] ?? '';\n  });\n\n  const meta = parseMeta(row.meta);\n  if (meta.editorial_brief_v1) continue;\n\n  const segment = String(row.segment || '').trim().toLowerCase();\n  const score = Number(row.score || 0);\n  const status = String(row.status || '').trim().toLowerCase();\n  const verdict = String(row.claude_verdict || '').trim().toLowerCase();\n\n  if (score < MIN_SCORE) continue;\n  if (!ALLOW_SEGMENTS.has(segment)) continue;\n  if (status !== 'classified' && verdict !== 'qualified') continue;\n\n  const text = String(row.text || '').trim();\n  if (text.length < 20) continue;\n\n  const ensured = ensureIntakeV1(\n    { ...row, segment, score, intake_stub_source: 'layer_b_filter' },\n    meta\n  );\n\n  row.meta_parsed = ensured.meta;\n  row.intake_v1 = ensured.intake_v1;\n  row.intake_stubbed = ensured.stubbed;\n  out.push({ json: row });\n  if (out.length >= BATCH) break;\n}\n\nif (!out.length) {\n  return [{\n    json: {\n      empty: true,\n      message: 'Không còn dòng cần editorial brief (classified score≥70 + chưa editorial_brief_v1)',\n    },\n  }];\n}\n\nreturn out;"
      },
      "id": "eb04filter",
      "name": "Parse Filter Needs Brief",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "c1",
              "leftValue": "={{ $json.empty }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "eb05if",
      "name": "IF Has Candidates",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        720,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = $getWorkflowStaticData('global');\ndata.eb_stats = { brief_ok: 0, brief_fail: 0, parse_fail: 0, llm_fail: 0, no_candidates: false, sheet_fail: 0 };\nreturn $input.all();"
      },
      "id": "eb06reset",
      "name": "Reset Run Stats",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        960,
        240
      ]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "eb07loop",
      "name": "Loop Brief Candidates",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1200,
        240
      ]
    },
    {
      "parameters": {
        "jsCode": "/** Segments that must have legal_retrieval_pack before content production */\nconst SEGMENTS_REQUIRING_LEGAL_KB = new Set([\n  'noxh_income',\n  'valuation',\n  'sme_credit',\n]);\n\n/** Magnix classify segment → legal-sources topic */\nconst SEGMENT_TO_LEGAL_TOPIC = {\n  noxh_income: 'noxh_income',\n  valuation: 'valuation_certificate',\n  sme_credit: 'loan_dti',\n};\n\nconst DEFAULT_FORBIDDEN = [\n  'Cam kết duyệt',\n  'Chắc chắn mua được',\n  'Lãi suất cố định áp dụng cho tất cả',\n  '100% thành công',\n];\n\nfunction segmentRequiresLegalKb(segment) {\n  return SEGMENTS_REQUIRING_LEGAL_KB.has(String(segment || '').trim().toLowerCase());\n}\n\nfunction segmentToLegalTopic(segment) {\n  const key = String(segment || '').trim().toLowerCase();\n  return SEGMENT_TO_LEGAL_TOPIC[key] || null;\n}\n\nfunction detectProvinceFromText(text) {\n  const t = String(text || '').toLowerCase().normalize('NFD').replace(/\\p{M}/gu, '');\n  const aliases = {\n    tp_ho_chi_minh: ['tp hcm', 'hcm', 'ho chi minh', 'tphcm', 'sai gon'],\n    dong_nai: ['dong nai', 'bien hoa'],\n    binh_duong: ['binh duong', 'thu dau mot'],\n    ba_ria_vung_tau: ['vung tau', 'ba ria'],\n    tp_can_tho: ['can tho'],\n  };\n  for (const [code, list] of Object.entries(aliases)) {\n    for (const a of list) {\n      if (t.includes(a.normalize('NFD').replace(/\\p{M}/gu, ''))) return code;\n    }\n  }\n  return null;\n}\n\n\nconst LEGAL_PACK_BUNDLE = __LEGAL_PACK_BUNDLE_JSON__;\n\nfunction resolvePackFromBundle(segment, text) {\n  const topic = segmentToLegalTopic(segment);\n  if (!topic) return null;\n\n  const bySegment = LEGAL_PACK_BUNDLE.packs_by_segment || {};\n  const byTopic = LEGAL_PACK_BUNDLE.packs_by_topic || {};\n  let pack = bySegment[segment] || byTopic[topic];\n  if (!pack) return null;\n\n  const province = detectProvinceFromText(text);\n  if (province && Array.isArray(LEGAL_PACK_BUNDLE.packs_by_topic)) {\n    // no-op: province-specific packs use topic_local keys when present\n  }\n  const localKey = province ? `${topic}__${province}` : null;\n  if (localKey && byTopic[localKey]) {\n    pack = byTopic[localKey];\n  }\n\n  return JSON.parse(JSON.stringify(pack));\n}\n\nfunction assessLegalGate(segment, pack) {\n  const required = segmentRequiresLegalKb(segment);\n  if (!required) {\n    return { required: false, pass: true, block_reason: null };\n  }\n  if (!pack) {\n    return {\n      required: true,\n      pass: false,\n      block_reason: 'MISSING_LEGAL_PACK',\n      needs_human_legal_source: true,\n    };\n  }\n  if (pack.needs_human_legal_source === true) {\n    return {\n      required: true,\n      pass: false,\n      block_reason: 'NEEDS_HUMAN_LEGAL_SOURCE',\n      needs_human_legal_source: true,\n    };\n  }\n  if (!Array.isArray(pack.facts) || pack.facts.length === 0) {\n    return {\n      required: true,\n      pass: false,\n      block_reason: 'EMPTY_LEGAL_FACTS',\n      needs_human_legal_source: true,\n    };\n  }\n  return {\n    required: true,\n    pass: true,\n    block_reason: null,\n    needs_human_legal_source: false,\n    fact_count: pack.facts.length,\n  };\n}\n\nfunction buildMinimalBlockedPack(segment, reason) {\n  return {\n    topic: segmentToLegalTopic(segment) || 'unknown',\n    intent: 'short_legal_explainer',\n    facts: [],\n    forbidden_claims: DEFAULT_FORBIDDEN,\n    disclaimer_required: true,\n    needs_human_legal_source: true,\n    block_reason: reason,\n  };\n}\n\n\nconst row = $('Loop Brief Candidates').item?.json || $input.first().json;\nconst segment = String(row.segment || '').trim().toLowerCase();\nconst text = String(row.text || '');\n\nif (!segmentRequiresLegalKb(segment)) {\n  return [{\n    json: {\n      ...row,\n      legal_gate: { required: false, pass: true },\n      legal_retrieval_pack: null,\n    },\n  }];\n}\n\nlet pack = resolvePackFromBundle(segment, text);\nconst gate = assessLegalGate(segment, pack);\n\nif (!pack && !gate.pass) {\n  pack = buildMinimalBlockedPack(segment, gate.block_reason);\n}\n\nreturn [{\n  json: {\n    ...row,\n    legal_retrieval_pack: pack,\n    legal_gate: gate,\n    legal_topic: segmentToLegalTopic(segment),\n  },\n}];"
      },
      "id": "eb07blegal",
      "name": "Attach Legal Pack",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1320,
        240
      ]
    },
    {
      "parameters": {
        "jsCode": "const row = $('Loop Brief Candidates').item?.json || $input.first().json;\n\nconst system = `Bạn là **Magnix Editorial Strategist** — biên tập inbound BĐS/tài chính VN, Value-First Hook, không hard sell.\n\n**[/silent]** suy luận nội bộ. Output **chỉ JSON hợp lệ**.\n\n## Input bạn nhận\n\n- \\`intake_v1\\` — pain intake đã parse (câu hỏi, fears, quotes…)\n- \\`segment\\`, \\`platform\\`, \\`score\\`, \\`text\\` gốc (reference)\n- (optional) \\`pattern_refs\\` — hook/pattern từ scorecard (có thể rỗng)\n- **\\`legal_retrieval_pack\\`** — khi \\`requires_legal_kb: true\\`: facts, forbidden_claims, disclaimer (bắt buộc tuân)\n\n## Nhiệm vụ\n\n1. Chọn **một góc editorial** duy nhất (một clip = một insight).\n2. Xây \\`qa_backbone\\` — 2–4 cặp Q&A (câu hỏi search + góc trả lời, không hứa lãi/duyệt chắc).\n3. Đề xuất \\`recommended_formats\\` (video_30s ưu tiên nếu platform video).\n4. \\`deconstruct_rules\\` — không copy đối thủ, compliance Magnix.\n5. \\`editorial_title\\` — tiêu đề nội bộ ≤80 ký tự.\n6. Nếu có \\`legal_retrieval_pack\\`: mỗi \\`answer_angle\\` khớp fact trong pack; \\`source_refs\\` = \\`claim_id\\`.\n\n## Quy tắc Q&A\n\n- Mỗi \\`question\\` phải bắt nguồn từ \\`explicit_questions\\` hoặc pain trong intake.\n- Mỗi \\`answer_angle\\` = **góc trả lời** (reframe, checklist, DTI…) — không phải script đọc.\n- \\`search_keyword\\` — từ khóa pain cho SEO/Shorts (tiếng Việt, tự nhiên).\n\n## Platform\n\n| platform | format ưu tiên |\n|----------|----------------|\n| tiktok, fb_reels, youtube_shorts | video_30s priority 1 |\n| fb_page | carousel hoặc video_45s |`;\n\nfunction normPlatform(raw) {\n  const key = String(raw || 'tiktok').trim().toLowerCase();\n  const map = {\n    tt: 'tiktok',\n    fb: 'fb_reels',\n    fb_group: 'fb_reels',\n    fb_page: 'fb_reels',\n    reels: 'fb_reels',\n    shorts: 'youtube_shorts',\n  };\n  return map[key] || key;\n}\n\nconst legalPack = row.legal_retrieval_pack || null;\nconst legalGate = row.legal_gate || { required: false, pass: true };\n\nconst userPayload = JSON.stringify({\n  normalized_key: row.normalized_key,\n  platform: row.platform,\n  target_platform: normPlatform(row.platform),\n  segment: row.segment,\n  score: Number(row.score || 0),\n  text: String(row.text || '').slice(0, 8000),\n  intake_v1: row.intake_v1 || row.meta_parsed?.intake_v1,\n  pattern_refs: row.meta_parsed?.pattern_refs || [],\n  legal_retrieval_pack: legalPack,\n  legal_gate: legalGate,\n  requires_legal_kb: legalGate.required === true,\n});\n\ntry {\n  if ($env.DEEPSEEK_API_KEY) {\n    const res = await this.helpers.httpRequest({\n      method: 'POST',\n      url: $env.DEEPSEEK_API_URL || 'https://api.deepseek.com/chat/completions',\n      headers: {\n        Authorization: `Bearer ${$env.DEEPSEEK_API_KEY}`,\n        'Content-Type': 'application/json',\n      },\n      body: {\n        model: $env.DEEPSEEK_MODEL || 'deepseek-chat',\n        temperature: 0.35,\n        max_tokens: 4096,\n        response_format: { type: 'json_object' },\n        messages: [\n          { role: 'system', content: system },\n          { role: 'user', content: userPayload },\n        ],\n      },\n      json: true,\n    });\n    return [{ json: res }];\n  }\n\n  if ($env.ANTHROPIC_API_KEY) {\n    const model = $env.ANTHROPIC_DRAFT_MODEL || 'claude-sonnet-4-6';\n    const res = await this.helpers.httpRequest({\n      method: 'POST',\n      url: 'https://api.anthropic.com/v1/messages',\n      headers: {\n        'x-api-key': $env.ANTHROPIC_API_KEY,\n        'anthropic-version': '2023-06-01',\n        'Content-Type': 'application/json',\n      },\n      body: {\n        model,\n        max_tokens: 4096,\n        temperature: 0.35,\n        system,\n        messages: [{ role: 'user', content: userPayload }],\n      },\n      json: true,\n    });\n    return [{ json: res }];\n  }\n\n  throw new Error('Thiếu DEEPSEEK_API_KEY hoặc ANTHROPIC_API_KEY');\n} catch (e) {\n  return [{ json: { error: true, message: e.message } }];\n}"
      },
      "id": "eb08llm",
      "name": "LLM Editorial Brief",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1560,
        240
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "c1",
              "leftValue": "={{ $json.error }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "eb09ifllm",
      "name": "IF LLM OK",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1680,
        240
      ]
    },
    {
      "parameters": {
        "jsCode": "function extractJsonString(raw) {\n  if (raw == null) throw new Error('EMPTY_LLM_OUTPUT');\n  const s = typeof raw === 'string' ? raw : JSON.stringify(raw);\n  const fenced = s.match(/```(?:json)?\\s*([\\s\\S]*?)```/i);\n  let t = (fenced ? fenced[1] : s).trim();\n  const start = t.indexOf('{');\n  const end = t.lastIndexOf('}');\n  if (start >= 0 && end > start) t = t.slice(start, end + 1);\n  return t;\n}\n\nfunction parseJsonLoose(text) {\n  const attempts = [\n    text,\n    text.replace(/[\\u201C\\u201D\\u2018\\u2019]/g, '\"'),\n    text.replace(/,\\s*([}\\]])/g, '$1'),\n  ];\n  let lastErr;\n  for (const candidate of attempts) {\n    try {\n      return JSON.parse(candidate);\n    } catch (e) {\n      lastErr = e;\n    }\n  }\n  throw lastErr || new Error('JSON_PARSE_FAIL');\n}\n\nconst row = $('Loop Brief Candidates').item?.json || {};\nconst res = $input.first().json;\nconst raw =\n  res.choices?.[0]?.message?.content ??\n  res.content?.[0]?.text ??\n  res.message?.content ??\n  res;\n\ntry {\n  const parsed = parseJsonLoose(extractJsonString(raw));\n  if (!parsed.editorial_title || !String(parsed.editorial_title).trim()) {\n    throw new Error('MISSING_EDITORIAL_TITLE');\n  }\n  if (!Array.isArray(parsed.qa_backbone) || parsed.qa_backbone.length < 2) {\n    throw new Error('INSUFFICIENT_QA_BACKBONE');\n  }\n\n  const qa = parsed.qa_backbone.slice(0, 5).map((q) => ({\n    question: String(q.question || '').slice(0, 300),\n    answer_angle: String(q.answer_angle || '').slice(0, 500),\n    search_keyword: String(q.search_keyword || '').slice(0, 120),\n    hook_line: String(q.hook_line || '').slice(0, 120),\n  }));\n\n  const brief = {\n    brief_version: Number(parsed.brief_version || 1),\n    editorial_title: String(parsed.editorial_title).slice(0, 80),\n    one_line_insight: String(parsed.one_line_insight || '').slice(0, 500),\n    qa_backbone: qa,\n    recommended_formats: Array.isArray(parsed.recommended_formats)\n      ? parsed.recommended_formats.slice(0, 4)\n      : [],\n    deconstruct_rules: Array.isArray(parsed.deconstruct_rules)\n      ? parsed.deconstruct_rules.map(String).slice(0, 8)\n      : [],\n    cta_keyword: String(parsed.cta_keyword || 'CHECKLIST').slice(0, 40),\n    compliance_notes: String(parsed.compliance_notes || '').slice(0, 1000),\n    source_refs: Array.isArray(parsed.source_refs)\n      ? parsed.source_refs.map(String).slice(0, 5)\n      : [String(row.normalized_key || '')],\n    interest_key: String(parsed.interest_key || row.interest_key || 'unknown')\n      .slice(0, 80)\n      .toLowerCase()\n      .replace(/[^a-z0-9_]/g, '_'),\n    created_at: new Date().toISOString(),\n  };\n\n  const legalPack = row.legal_retrieval_pack || null;\n  if (legalPack) {\n    brief.legal_retrieval_pack = legalPack;\n    brief.legal_topic = row.legal_topic || null;\n  }\n  if (row.legal_gate?.needs_human_legal_source) {\n    brief.compliance_notes = `${brief.compliance_notes || ''} [LEGAL_GATE: needs_human_legal_source]`.trim();\n  }\n\n  return [{\n    json: {\n      ok: true,\n      sheet_row: row.sheet_row,\n      normalized_key: row.normalized_key,\n      editorial_brief_v1: brief,\n      interest_key: brief.interest_key,\n      existing_meta: row.meta_parsed || {},\n      legal_retrieval_pack: legalPack,\n      legal_gate: row.legal_gate || null,\n    },\n  }];\n} catch (e) {\n  return [{ json: { ok: false, parse_error: e.message, sheet_row: row.sheet_row } }];\n}"
      },
      "id": "eb10parse",
      "name": "Parse Editorial Brief JSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1920,
        160
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "c1",
              "leftValue": "={{ $json.ok }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "eb11ifparse",
      "name": "IF Parse OK",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2160,
        160
      ]
    },
    {
      "parameters": {
        "jsCode": "const SHEET_ID = '1fYB4h_BTiKXa9O3lBah-tQonWpQOQMG2aSkSfPs6yU4';\nconst TAB = 'content_queue';\n\nconst item = $input.first().json;\nif (!item.ok || !item.editorial_brief_v1 || !item.sheet_row) {\n  return [{ json: { ok: false, skip: true, reason: item.parse_error || 'NO_BRIEF' } }];\n}\n\nconst row = item.sheet_row;\n\nreturn [{\n  json: {\n    ok: true,\n    sheet_row: row,\n    normalized_key: item.normalized_key,\n    interest_key: item.interest_key,\n    editorial_brief_v1: item.editorial_brief_v1,\n    legal_retrieval_pack: item.legal_retrieval_pack || null,\n    legal_gate: item.legal_gate || null,\n    existing_meta: item.existing_meta || {},\n    get_meta_url: `https://sheets.googleapis.com/v4/spreadsheets/${SHEET_ID}/values/${encodeURIComponent(`${TAB}!O${row}`)}`,\n    put_meta_url: `https://sheets.googleapis.com/v4/spreadsheets/${SHEET_ID}/values/${encodeURIComponent(`${TAB}!O${row}`)}?valueInputOption=USER_ENTERED`,\n    put_interest_url: `https://sheets.googleapis.com/v4/spreadsheets/${SHEET_ID}/values/${encodeURIComponent(`${TAB}!J${row}`)}?valueInputOption=USER_ENTERED`,\n  },\n}];"
      },
      "id": "eb12prep",
      "name": "Prepare Meta Update",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2400,
        80
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $json.get_meta_url }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleApi",
        "options": {}
      },
      "id": "eb13get",
      "name": "HTTP GET queue meta",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2640,
        80
      ]
    },
    {
      "parameters": {
        "jsCode": "const prep = $('Prepare Meta Update').item?.json || $input.first().json || {};\nconst getRes = $input.first().json || {};\n\nif (!prep.ok || !prep.editorial_brief_v1) {\n  return [{ json: { ok: false, skip: true } }];\n}\n\nlet fromSheet = {};\ntry {\n  const cell = getRes.values?.[0]?.[0];\n  if (cell) fromSheet = JSON.parse(cell);\n} catch {\n  fromSheet = {};\n}\n\nconst prepMeta = prep.existing_meta || {};\nconst existing = { ...fromSheet, ...prepMeta };\n\nconst meta = {\n  ...existing,\n  editorial_brief_v1: prep.editorial_brief_v1,\n  editorial_brief_at: new Date().toISOString(),\n};\nif (prep.legal_retrieval_pack) {\n  meta.legal_retrieval_pack = prep.legal_retrieval_pack;\n  meta.legal_retrieval_pack_at = new Date().toISOString();\n}\nif (prep.legal_gate) {\n  meta.legal_gate = prep.legal_gate;\n}\nif (prepMeta.intake_v1 && !fromSheet.intake_v1) {\n  meta.intake_v1_from = meta.intake_v1_from || 'stub_layer_b';\n}\n\nconst metaStr = JSON.stringify(meta).slice(0, 50000);\n\nreturn [{\n  json: {\n    ok: true,\n    put_meta_url: prep.put_meta_url,\n    put_interest_url: prep.put_interest_url,\n    meta_body: { values: [[metaStr]] },\n    interest_body: { values: [[prep.interest_key || 'unknown']] },\n    sheet_row: prep.sheet_row,\n    normalized_key: prep.normalized_key,\n  },\n}];"
      },
      "id": "eb14merge",
      "name": "Merge Meta Brief",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2880,
        80
      ]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "={{ $json.put_meta_url }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.meta_body) }}",
        "options": {}
      },
      "id": "eb15putmeta",
      "name": "HTTP PUT queue meta",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3120,
        80
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "={{ $(\"Merge Meta Brief\").item.json.put_interest_url }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($(\"Merge Meta Brief\").item.json.interest_body) }}",
        "options": {}
      },
      "id": "eb16putinterest",
      "name": "HTTP PUT interest_key",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3360,
        80
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const item = $('Merge Meta Brief').item?.json || $input.first().json || {};\nconst data = $getWorkflowStaticData('global');\nif (!data.eb_stats) data.eb_stats = { brief_ok: 0, brief_fail: 0, sheet_fail: 0 };\n\nif (item.ok && item.normalized_key) {\n  data.eb_stats.brief_ok = (data.eb_stats.brief_ok || 0) + 1;\n} else {\n  data.eb_stats.sheet_fail = (data.eb_stats.sheet_fail || 0) + 1;\n}\n\nreturn [{\n  json: {\n    ok: true,\n    sheet_row: item.sheet_row,\n    normalized_key: item.normalized_key,\n  },\n}];"
      },
      "id": "eb17track",
      "name": "Track Brief OK",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3600,
        80
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = $getWorkflowStaticData('global');\nif (!data.eb_stats) data.eb_stats = {};\ndata.eb_stats.llm_fail = (data.eb_stats.llm_fail || 0) + 1;\ndata.eb_stats.brief_fail = (data.eb_stats.brief_fail || 0) + 1;\nreturn $input.all();"
      },
      "id": "eb18llmfail",
      "name": "Track LLM Fail",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1680,
        360
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = $getWorkflowStaticData('global');\nif (!data.eb_stats) data.eb_stats = {};\ndata.eb_stats.parse_fail = (data.eb_stats.parse_fail || 0) + 1;\ndata.eb_stats.brief_fail = (data.eb_stats.brief_fail || 0) + 1;\nreturn $input.all();"
      },
      "id": "eb19parsefail",
      "name": "Track Parse Fail",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2400,
        240
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = $getWorkflowStaticData('global');\nconst stats = data.eb_stats || {};\nlet hint = null;\nif ((stats.brief_ok || 0) === 0) {\n  if (stats.no_candidates) hint = 'Không candidate — cần classified score≥70 + chưa editorial_brief_v1 (intake stub tự sinh nếu thiếu)';\n  else if ((stats.llm_fail || 0) > 0) hint = 'LLM fail — kiểm tra DEEPSEEK/ANTHROPIC key';\n  else if ((stats.parse_fail || 0) > 0) hint = 'Parse fail — xem node Parse Editorial Brief JSON';\n  else if ((stats.sheet_fail || 0) > 0) hint = 'Ghi Sheet fail — gán googleApi trên HTTP PUT nodes';\n}\nreturn [{ json: {\n  ok: true,\n  workflow: 'content-editorial-brief',\n  stats,\n  batch_size: 5,\n  hint,\n  finished_at: new Date().toISOString(),\n}}];"
      },
      "id": "eb20summary",
      "name": "Build Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3600,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = $getWorkflowStaticData('global');\nif (!data.eb_stats) data.eb_stats = {};\ndata.eb_stats.no_candidates = true;\nconst msg = $input.first()?.json?.message || 'No editorial brief candidates';\nreturn [{ json: { ok: true, empty: true, message: msg } }];"
      },
      "id": "eb21empty",
      "name": "No Candidates Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        720,
        420
      ]
    }
  ],
  "connections": {
    "Schedule Editorial Brief": {
      "main": [
        [
          {
            "node": "Fetch content_queue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking 'Execute workflow'": {
      "main": [
        [
          {
            "node": "Fetch content_queue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch content_queue": {
      "main": [
        [
          {
            "node": "Parse Filter Needs Brief",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Filter Needs Brief": {
      "main": [
        [
          {
            "node": "IF Has Candidates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Has Candidates": {
      "main": [
        [
          {
            "node": "Reset Run Stats",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Candidates Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reset Run Stats": {
      "main": [
        [
          {
            "node": "Loop Brief Candidates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Brief Candidates": {
      "main": [
        [
          {
            "node": "Build Summary",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Attach Legal Pack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Attach Legal Pack": {
      "main": [
        [
          {
            "node": "LLM Editorial Brief",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LLM Editorial Brief": {
      "main": [
        [
          {
            "node": "IF LLM OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF LLM OK": {
      "main": [
        [
          {
            "node": "Parse Editorial Brief JSON",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Track LLM Fail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Editorial Brief JSON": {
      "main": [
        [
          {
            "node": "IF Parse OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Parse OK": {
      "main": [
        [
          {
            "node": "Prepare Meta Update",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Track Parse Fail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Meta Update": {
      "main": [
        [
          {
            "node": "HTTP GET queue meta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP GET queue meta": {
      "main": [
        [
          {
            "node": "Merge Meta Brief",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Meta Brief": {
      "main": [
        [
          {
            "node": "HTTP PUT queue meta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP PUT queue meta": {
      "main": [
        [
          {
            "node": "HTTP PUT interest_key",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP PUT interest_key": {
      "main": [
        [
          {
            "node": "Track Brief OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Track Brief OK": {
      "main": [
        [
          {
            "node": "Loop Brief Candidates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Track LLM Fail": {
      "main": [
        [
          {
            "node": "Loop Brief Candidates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Track Parse Fail": {
      "main": [
        [
          {
            "node": "Loop Brief Candidates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Candidates Summary": {
      "main": [
        [
          {
            "node": "Build Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "magnix"
    },
    {
      "name": "layer-b"
    },
    {
      "name": "content-editorial-brief"
    }
  ],
  "meta": {
    "templateCredsSetupCompleted": false
  }
}