n8n-workflows/content-editorial-brief.workflow.json
{
  "name": "Magnix Layer B — Editorial Brief (intake → meta)",
  "nodes": [
    {
      "parameters": {
        "content": "## Layer B — Editorial Brief + Legal Gate\n- **08:30 VN** · max **5**/lần\n- **Webhook:** POST `/webhook/magnix/editorial-brief`\n- **Attach Legal Pack** trước LLM (NOXH/vay/định giá)\n- Output: `meta.editorial_brief_v1` + `meta.legal_retrieval_pack`\n- Editorial calendar ưu tiên trước scrape queue",
        "height": 200,
        "width": 440
      },
      "id": "eb00note",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -480,
        160
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "30 8 * * *"
            }
          ]
        }
      },
      "id": "eb01sched",
      "name": "Schedule Editorial Brief",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        200
      ]
    },
    {
      "parameters": {},
      "id": "eb02manual",
      "name": "When clicking 'Execute workflow'",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        400
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "magnix/editorial-brief",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "eb02webhook",
      "name": "Webhook editorial-brief",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        560
      ],
      "webhookId": "magnix-editorial-brief"
    },
    {
      "parameters": {
        "jsCode": "const EXPECTED = $env.MAGNIX_WEBHOOK_TOKEN || '';\nconst headers = $input.first().json.headers || {};\nconst auth = headers.authorization || headers.Authorization || '';\nif (EXPECTED && auth !== `Bearer ${EXPECTED}`) {\n  throw new Error('Unauthorized: invalid MAGNIX_WEBHOOK_TOKEN');\n}\nconst raw = $input.first().json;\nconst body = raw.body && typeof raw.body === 'object' ? raw.body : raw;\nreturn [{ json: { triggered: true, source: 'webhook', at: new Date().toISOString(), ...body } }];"
      },
      "id": "eb02auth",
      "name": "Auth Webhook",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        120,
        560
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://sheets.googleapis.com/v4/spreadsheets/1fYB4h_BTiKXa9O3lBah-tQonWpQOQMG2aSkSfPs6yU4/values/content_queue!A%3AO",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleApi",
        "options": {}
      },
      "id": "eb03fetch",
      "name": "Fetch content_queue",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "function extractQuestion(text) {\r\n  const t = String(text || '').trim();\r\n  if (!t) return [];\r\n  const parts = t.split(/[?？]/).map((s) => s.trim()).filter(Boolean);\r\n  if (parts.length > 1) {\r\n    return parts.slice(0, -1).map((p) => `${p}?`.slice(0, 300)).slice(0, 3);\r\n  }\r\n  if (/[?？]/.test(t)) return [t.slice(0, 300)];\r\n  return [];\r\n}\r\n\r\nfunction buildIntakeStubFromRow(row) {\r\n  const text = String(row.text || '').trim();\r\n  const segment = String(row.segment || 'general_inbound').trim().toLowerCase();\r\n  const score = Number(row.score || 0);\r\n  const platform = String(row.platform || 'tiktok').trim().toLowerCase();\r\n  const questions = extractQuestion(text);\r\n  const summary = text.slice(0, 500);\r\n\r\n  return {\r\n    intake_version: 1,\r\n    verdict: score >= 70 ? 'qualified' : score >= 40 ? 'maybe' : 'reject',\r\n    score,\r\n    reject_reason: null,\r\n    summary,\r\n    conversation: {\r\n      surface_topic: summary.slice(0, 200),\r\n      explicit_questions: questions.length ? questions : [summary.slice(0, 120)],\r\n      implicit_fears: [],\r\n      misconceptions: [],\r\n      journey_stage: 'consideration',\r\n      audience_voice: text.slice(0, 300),\r\n    },\r\n    content_signals: {\r\n      pain_intensity: Math.min(100, Math.max(0, score)),\r\n      discussion_heat: score >= 75 ? 'high' : 'medium',\r\n      inbound_potential: score >= 70 ? 'medium' : 'low',\r\n      segment_hint: segment,\r\n      evidence_quotes: text ? [text.slice(0, 120)] : [],\r\n      single_insight_clip: true,\r\n      hook_candidate: text.slice(0, 80),\r\n      cta_keyword_hint: segment === 'noxh_income' ? 'NOXH' : 'CHECKLIST',\r\n    },\r\n    compliance_flags: [],\r\n    _stub: true,\r\n    _stub_source: String(row.intake_stub_source || row.source || 'classified_row'),\r\n    _stub_platform: platform,\r\n    _stub_normalized_key: String(row.normalized_key || ''),\r\n  };\r\n}\r\n\r\nfunction ensureIntakeV1(row, meta) {\r\n  if (meta?.intake_v1 && typeof meta.intake_v1 === 'object') {\r\n    return { meta, intake_v1: meta.intake_v1, stubbed: false };\r\n  }\r\n  const intake_v1 = buildIntakeStubFromRow(row);\r\n  const next = { ...meta, intake_v1, intake_stub_at: new Date().toISOString() };\r\n  return { meta: next, intake_v1, stubbed: true };\r\n}\n\nconst MIN_SCORE = 70;\nconst BATCH = 5;\n\nconst ALLOW_SEGMENTS = new Set([\n  'noxh_income', 'valuation', 'sme_credit', 'general_inbound',\n]);\n\nfunction parseMeta(raw) {\n  if (!raw) return {};\n  try {\n    return typeof raw === 'string' ? JSON.parse(raw) : raw;\n  } catch {\n    return {};\n  }\n}\n\nconst res = $input.first().json;\nconst rows = Array.isArray(res.values) ? res.values : [];\nif (rows.length < 2) {\n  return [{ json: { empty: true, message: 'content_queue trống' } }];\n}\n\nconst headers = rows[0].map((x) => String(x ?? '').trim().toLowerCase());\nconst editorial = [];\nconst general = [];\n\nfunction isEditorialRow(row, meta) {\n  if (String(row.source || '').trim() === 'editorial_calendar') return true;\n  if (meta.editorial_page_key || meta.editorial_calendar_id) return true;\n  return String(row.normalized_key || '').startsWith('editorial:queue:');\n}\n\nfor (let i = 1; i < rows.length; i += 1) {\n  const cells = rows[i];\n  if (!cells?.some((c) => String(c ?? '').trim())) continue;\n\n  const row = { sheet_row: i + 1 };\n  headers.forEach((key, j) => {\n    if (key) row[key] = cells[j] ?? '';\n  });\n\n  const meta = parseMeta(row.meta);\n  if (meta.editorial_brief_v1) continue;\n\n  const segment = String(row.segment || '').trim().toLowerCase();\n  const score = Number(row.score || 0);\n  const status = String(row.status || '').trim().toLowerCase();\n  const verdict = String(row.claude_verdict || '').trim().toLowerCase();\n\n  if (score < MIN_SCORE) continue;\n  if (!ALLOW_SEGMENTS.has(segment)) continue;\n  if (status !== 'classified' && verdict !== 'qualified') continue;\n\n  const text = String(row.text || '').trim();\n  if (text.length < 20) continue;\n\n  const ensured = ensureIntakeV1(\n    { ...row, segment, score, intake_stub_source: 'layer_b_filter' },\n    meta\n  );\n\n  row.meta_parsed = ensured.meta;\n  row.intake_v1 = ensured.intake_v1;\n  row.intake_stubbed = ensured.stubbed;\n  const bucket = isEditorialRow(row, meta) ? editorial : general;\n  row.editorial_priority = (() => {\n    const scheduled = meta.scheduled_publish_at || meta.publish_at;\n    if (scheduled) {\n      const t = new Date(scheduled).getTime();\n      if (!Number.isNaN(t)) return t;\n    }\n    const calId = String(meta.editorial_calendar_id || '').trim();\n    if (calId) {\n      const num = Number(calId.split(':').pop());\n      if (Number.isFinite(num)) return num;\n    }\n    return isEditorialRow(row, meta) ? 0 : 500000;\n  })();\n  bucket.push(row);\n}\n\neditorial.sort((a, b) => a.editorial_priority - b.editorial_priority);\ngeneral.sort((a, b) => a.editorial_priority - b.editorial_priority);\n\nconst out = [...editorial, ...general].slice(0, BATCH).map((row) => ({ json: row }));\n\nif (!out.length) {\n  return [{\n    json: {\n      empty: true,\n      message: 'Không còn dòng cần editorial brief (classified score≥70 + chưa editorial_brief_v1)',\n    },\n  }];\n}\n\nreturn out;"
      },
      "id": "eb04filter",
      "name": "Parse Filter Needs Brief",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "c1",
              "leftValue": "={{ $json.empty }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "eb05if",
      "name": "IF Has Candidates",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        720,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = $getWorkflowStaticData('global');\ndata.eb_stats = { brief_ok: 0, brief_fail: 0, parse_fail: 0, llm_fail: 0, no_candidates: false, sheet_fail: 0 };\nreturn $input.all();"
      },
      "id": "eb06reset",
      "name": "Reset Run Stats",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        960,
        240
      ]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "eb07loop",
      "name": "Loop Brief Candidates",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1200,
        240
      ]
    },
    {
      "parameters": {
        "jsCode": "/** Segments that must have legal_retrieval_pack before content production */\nconst SEGMENTS_REQUIRING_LEGAL_KB = new Set([\n  'noxh_income',\n  'valuation',\n  'sme_credit',\n]);\n\n/** Magnix classify segment → legal-sources topic */\nconst SEGMENT_TO_LEGAL_TOPIC = {\n  noxh_income: 'noxh_income',\n  valuation: 'valuation_certificate',\n  sme_credit: 'loan_dti',\n};\n\nconst DEFAULT_FORBIDDEN = [\n  'Cam kết duyệt',\n  'Chắc chắn mua được',\n  'Lãi suất cố định áp dụng cho tất cả',\n  '100% thành công',\n];\n\nfunction segmentRequiresLegalKb(segment) {\n  return SEGMENTS_REQUIRING_LEGAL_KB.has(String(segment || '').trim().toLowerCase());\n}\n\nfunction segmentToLegalTopic(segment) {\n  const key = String(segment || '').trim().toLowerCase();\n  return SEGMENT_TO_LEGAL_TOPIC[key] || null;\n}\n\nfunction detectProvinceFromText(text) {\n  const t = String(text || '').toLowerCase().normalize('NFD').replace(/\\p{M}/gu, '');\n  const aliases = {\n    tp_ho_chi_minh: ['tp hcm', 'hcm', 'ho chi minh', 'tphcm', 'sai gon'],\n    dong_nai: ['dong nai', 'bien hoa'],\n    binh_duong: ['binh duong', 'thu dau mot'],\n    ba_ria_vung_tau: ['vung tau', 'ba ria'],\n    tp_can_tho: ['can tho'],\n  };\n  for (const [code, list] of Object.entries(aliases)) {\n    for (const a of list) {\n      if (t.includes(a.normalize('NFD').replace(/\\p{M}/gu, ''))) return code;\n    }\n  }\n  return null;\n}\n\n\nconst LEGAL_PACK_BUNDLE = {\"version\":1,\"generated_at\":\"2026-06-29T05:23:29.326Z\",\"as_of\":\"2026-06-26\",\"packs_by_topic\":{\"noxh_eligibility\":{\"topic\":\"noxh_eligibility\",\"intent\":\"short_legal_explainer\",\"province_code\":null,\"merger_group_id\":null,\"project_jurisdiction_note\":\"Cần xác định tỉnh dự án trước khi tra QĐ địa phương\",\"as_of\":\"2026-06-26\",\"facts\":[{\"claim_id\":\"nd100_housing_no_owned_001\",\"claim\":\"Để được coi là chưa có nhà ở khi đăng ký mua/thuê mua NOXH, người đứng đơn và vợ/chồng (nếu có) không có tên trong GCN QSDĐ tại tỉnh/TP nơi có dự án. Từ 09/02/2026 (NĐ 54): thêm trường hợp không có nội dung thông tin về nhà ở trên GCN — không phụ thuộc thời điểm nộp hồ sơ.\",\"source_refs\":[\"noxh_nd_100_2024:article_29:k1\",\"noxh_nd_54_2026:article_1:article_29_k1\"],\"usage_rule\":\"Không kết luận chắc chắn đủ điều kiện chỉ vì không thấy tên trên một GCN cụ thể\",\"risk_level\":\"high\"},{\"claim_id\":\"nd100_housing_low_area_001\",\"claim\":\"Trường hợp đã có nhà thuộc sở hữu nhưng diện tích bình quân đầu người dưới 15 m² sàn/người (tính theo thành viên đăng ký thường trú tại căn nhà) vẫn có thể đáp ứng điều kiện nhà ở theo Nghị định 100/2024.\",\"source_refs\":[\"noxh_nd_100_2024:article_29:k2\"],\"usage_rule\":\"Cần xác nhận của UBND cấp xã trong 07 ngày\",\"risk_level\":\"high\"},{\"claim_id\":\"nd100_income_poor_household_001\",\"claim\":\"Đối tượng khoản 2, 3, 4 Điều 76 Luật Nhà ở phải thuộc hộ gia đình nghèo hoặc cận nghèo theo chuẩn nghèo của Chính phủ (Điều 30 khoản 3 NĐ 100/2024).\",\"source_refs\":[\"noxh_nd_100_2024:article_30:k3\"],\"usage_rule\":\"Không nhầm với nhóm đối tượng khoản 5, 6, 8 (mức thu nhập số tuyệt đối)\",\"risk_level\":\"high\"},{\"claim_id\":\"nd100_apartment_area_001\",\"claim\":\"Căn hộ NOXH chung cư đầu tư theo dự án: diện tích sử dụng tối thiểu 25 m², tối đa 70 m²; có thể tăng tối đa thêm 10% nhưng căn trên 70 m² không quá 10% tổng số căn dự án.\",\"source_refs\":[\"noxh_nd_100_2024:article_27:k1\"],\"usage_rule\":\"Không kết luận chắc chắn đủ điều kiện.\",\"risk_level\":\"medium\"},{\"claim_id\":\"nd54_housing_gcn_no_info_001\",\"claim\":\"Theo NĐ 54/2026 (sửa khoản 1 Điều 29 NĐ 100/2024, hiệu lực 09/02/2026): chưa có nhà ở được xác định khi người đứng đơn và vợ/chồng (nếu có) không có tên hoặc không có nội dung thông tin về nhà ở trong GCN QSDĐ tại tỉnh/TP nơi có dự án — không phụ thuộc thời điểm nộp hồ sơ.\",\"source_refs\":[\"noxh_nd_54_2026:article_1:article_29_k1\"],\"usage_rule\":\"Xác nhận do cơ quan có thẩm quyền cấp GCN theo luật đất đai\",\"risk_level\":\"high\"},{\"claim_id\":\"nd54_priority_order_001\",\"claim\":\"Khi bốc thăm NOXH (NĐ 54 Điều 38): đối tượng ưu tiên Điều 79 Luật Nhà ở được ưu tiên không bốc thăm theo tỷ lệ; thứ tự bố trí: người có công → thân nhân liệt sĩ → người khuyết tật → tái định cư (mua NOXH) → nữ giới (đơn thân hoặc chủ hộ trên dữ liệu cư trú).\",\"source_refs\":[\"noxh_nd_54_2026:article_1:article_38\",\"noxh_luat_nha_o_2023:article_79:k1d\"],\"usage_rule\":\"Không cam kết trúng ưu tiên\",\"risk_level\":\"medium\"},{\"claim_id\":\"luat76_objects_k568_001\",\"claim\":\"Khoản 5 Điều 76 Luật Nhà ở 2023: người thu nhập thấp tại khu vực đô thị. Khoản 6: công nhân, lao động tại DN/HTX trong và ngoài KCN. Khoản 8: cán bộ, công chức, viên chức. Ba nhóm này chịu điều kiện thu nhập theo Chính phủ (NĐ 30/136).\",\"source_refs\":[\"noxh_luat_nha_o_2023:article_76:k5\",\"noxh_luat_nha_o_2023:article_76:k6\",\"noxh_luat_nha_o_2023:article_76:k8\"],\"usage_rule\":\"Phải xác định đúng khoản đối tượng trước khi áp mức thu nhập\",\"risk_level\":\"high\"}],\"forbidden_claims\":[\"Chắc chắn không bị loại vì nhà ở tỉnh khác\",\"Không cần xác nhận VPĐK đất đai\",\"Có nhà rồi chắc chắn không mua được NOXH\",\"Mọi căn NOXH đều 70 m²\",\"Dự án cụ thể chắc chắn có căn 90 m²\",\"Chắc chắn đủ điều kiện nhà ở vì GCN trống\",\"Vẫn áp dụng quy tắc chỉ VPĐK huyện như NĐ 100 gốc\",\"Nộp sớm là được ưu tiên tuyệt đối\",\"Mọi người mua NOXH đều là khoản 5\"],\"disclaimer_required\":true,\"needs_human_legal_source\":false},\"noxh_income\":{\"topic\":\"noxh_income\",\"intent\":\"short_legal_explainer\",\"province_code\":null,\"merger_group_id\":null,\"project_jurisdiction_note\":\"Cần xác định tỉnh dự án trước khi tra QĐ địa phương\",\"as_of\":\"2026-06-26\",\"facts\":[{\"claim_id\":\"nd100_income_k568_2026\",\"claim\":\"Từ 07/04/2026, khoản 1 Điều 30 NĐ 100/2024 (sửa tại NĐ 136/2026) quy định đối tượng khoản 5, 6, 8 Điều 76 Luật Nhà ở: độc thân/chưa kết hôn ≤ 25 triệu/tháng; độc thân nuôi con dưới tuổi thành niên ≤ 35 triệu/tháng; đã kết hôn tổng vợ chồng ≤ 50 triệu/tháng (thu nhập bình quân thực nhận theo Bảng tiền công, tiền lương). Thời gian xác định: 12 tháng liền kề từ thời điểm cơ quan có thẩm quyền xác nhận.\",\"source_refs\":[\"noxh_nd_100_2024:article_30:k1\",\"noxh_nd_136_2026:article_1\"],\"usage_rule\":\"Phải xác định thời điểm nộp/xác nhận hồ sơ để chọn mức 15-30 hay 25-50\",\"risk_level\":\"high\"},{\"claim_id\":\"nd54_income_ca_xa_001\",\"claim\":\"Đối tượng khoản 5 Điều 76 không có HĐLĐ: từ 09/02/2026 (NĐ 54 sửa khoản 2 Điều 30), Công an cấp xã nơi thường trú/tạm trú/nơi ở hiện tại xác nhận trong 07 ngày; công dân kê khai cam kết thu nhập; có hậu kiểm; đơn đề nghị xác nhận đồng thời là giấy chứng minh đối tượng.\",\"source_refs\":[\"noxh_nd_54_2026:article_1:article_30_k2\"],\"usage_rule\":\"Mức trần thu nhập vẫn theo khoản 1 Điều 30 (15-30 trước 07/04/2026; 25-50 sau NĐ 136)\",\"risk_level\":\"high\"},{\"claim_id\":\"nd136_income_provincial_factor_001\",\"claim\":\"UBND cấp tỉnh được quyết định hệ số điều chỉnh mức thu nhập (25/35/50 triệu) theo điều kiện địa phương, không vượt quá tỷ lệ thu nhập bình quân đầu người địa phương so với cả nước; có thể có chính sách khuyến khích hộ có từ 3 người phụ thuộc trở lên (NĐ 136 điểm d khoản 1 Điều 30).\",\"source_refs\":[\"noxh_nd_136_2026:article_1:article_30_k1d\"],\"usage_rule\":\"Phải tra quyết định địa phương trước khi khẳng định mức trần\",\"risk_level\":\"high\"},{\"claim_id\":\"nd136_llvt_income_spouse_001\",\"claim\":\"Vợ/chồng người đứng đơn thuộc lực lượng vũ trang (khoản 7 Đ.76) nhưng vợ/chồng không thuộc khoản 7: tổng thu nhập vợ chồng không quá thu nhập sĩ quan hàm Đại tá (gồm phụ cấp khu vực) cộng mức lương điểm a khoản 1 Điều 30 (25 triệu theo NĐ 136).\",\"source_refs\":[\"noxh_nd_136_2026:article_1:article_67_k2b\"],\"usage_rule\":\"Không kết luận chắc chắn đủ điều kiện.\",\"risk_level\":\"high\"},{\"claim_id\":\"income_adult_child_not_counted_001\",\"claim\":\"Mẫu 01 mục 11.1 — thu nhập xét để đủ điều kiện NOXH: độc thân chỉ tính bản thân người đứng đơn; đã kết hôn cộng vợ/chồng. Thu nhập con từ 18 tuổi trở lên không cộng vào trần cha/mẹ dù còn chung hộ khẩu hoặc chưa tách sổ. Độc thân nuôi con chỉ áp trần 35 triệu khi con dưới 18 tuổi — con ≥18 không dùng nhánh này.\",\"source_refs\":[\"mau01_section_11_1_k568_001\",\"noxh_nd_136_2026:article_1:article_30_k1\",\"noxh_nd_100_2024:article_30:k1\"],\"usage_rule\":\"Tiền con hỗ trợ cha/mẹ định kỳ nếu thực nhận → kê khai thu nhập của cha/mẹ\",\"risk_level\":\"high\"}],\"forbidden_claims\":[\"Thu nhập 20 triệu chắc chắn đủ điều kiện mọi thời điểm\",\"Áp dụng mức 25/50 triệu cho hồ sơ trước 07/04/2026\",\"UBND xã vẫn là cơ quan xác nhận thu nhập\",\"Không cần kê khai thu nhập\",\"25 triệu áp dụng cứng cho mọi tỉnh\",\"Không có điều chỉnh địa phương\",\"Vợ chồng lực lượng vũ trang dùng mức 25/50 triệu như dân sự\",\"Con thu nhập cao làm cha mẹ không được mua NOXH\",\"Phải tách hộ khẩu với con trưởng thành mới nộp được\",\"Cộng lương con ≥18 vào tổng 11.1 của cha mẹ\"],\"disclaimer_required\":true,\"needs_human_legal_source\":false},\"noxh_documents\":{\"topic\":\"noxh_documents\",\"intent\":\"short_legal_explainer\",\"province_code\":null,\"merger_group_id\":null,\"project_jurisdiction_note\":\"Cần xác định tỉnh dự án trước khi tra QĐ địa phương\",\"as_of\":\"2026-06-26\",\"facts\":[{\"claim_id\":\"nd54_proof_valid_12m_001\",\"claim\":\"Giấy tờ chứng minh đối tượng, điều kiện NOXH (NĐ 54 Điều 38) có giá trị 12 tháng kể từ thời điểm xác nhận; người đăng ký phải cam kết chưa được hưởng chính sách hỗ trợ nhà ở.\",\"source_refs\":[\"noxh_nd_54_2026:article_1:article_38\"],\"usage_rule\":\"Không kết luận chắc chắn đủ điều kiện.\",\"risk_level\":\"medium\"},{\"claim_id\":\"nd136_transition_income_doc_001\",\"claim\":\"Giấy tờ xác nhận điều kiện thu nhập NOXH đã cấp trước 07/04/2026 vẫn có giá trị 12 tháng kể từ ngày xác nhận (NĐ 136 Điều 2 chuyển tiếp).\",\"source_refs\":[\"noxh_nd_136_2026:article_2\"],\"usage_rule\":\"Kiểm tra ngày xác nhận trên giấy tờ\",\"risk_level\":\"medium\"},{\"claim_id\":\"mau01_core_bundle_001\",\"claim\":\"Hồ sơ đăng ký mua/thuê mua/thuê NOXH gồm Đơn Mẫu 01 (Phụ lục II NĐ 100, đã cập nhật NĐ 136) và giấy tờ chứng minh đối tượng, điều kiện theo Đ.76, 78 Luật Nhà ở — nộp cho chủ đầu tư trong thời gian tiếp nhận tối thiểu 30 ngày.\",\"source_refs\":[\"noxh_nd_100_2024:article_38\",\"noxh_nd_54_2026:article_1:article_38\",\"noxh_nd_136_2026:article_1:mau_01\"],\"usage_rule\":\"Luôn nhắc đối chiếu thông báo CĐT từng dự án\",\"risk_level\":\"high\"},{\"claim_id\":\"mau01_spouse_declaration_001\",\"claim\":\"Trên Mẫu 01, người đã kết hôn phải khai thông tin vợ/chồng dù vợ/chồng không đứng tên mua — vì điều kiện nhà ở và thu nhập xét cả vợ chồng tại tỉnh có dự án.\",\"source_refs\":[\"noxh_nd_100_2024:article_29:k1\",\"noxh_nd_100_2024:article_30:k1\"],\"usage_rule\":\"Không kết luận chắc chắn đủ điều kiện.\",\"risk_level\":\"high\"},{\"claim_id\":\"mau01_article76_tick_001\",\"claim\":\"Phần đối tượng trên đơn phải tick đúng nhóm Đ.76: k5 (thu nhập thấp đô thị, có/không HĐLĐ); k6 (CN/LĐ DN-KCN); k8 (CBCCVC); k7 (LLVT → mục 11.2). k5 không HĐLĐ: Công an cấp xã (NĐ 54). Lao động tự do không phải k8.\",\"source_refs\":[\"noxh_luat_nha_o_2023:article_76\",\"noxh_nd_54_2026:article_1:article_30_k2\"],\"usage_rule\":\"Hỏi rõ có HĐLĐ trước khi hướng dẫn tick k5 vs k8\",\"risk_level\":\"high\"},{\"claim_id\":\"mau01_housing_declaration_001\",\"claim\":\"Phần khai báo nhà ở trên đơn phải phản ánh đúng tình trạng tại tỉnh/TP nơi có dự án: chưa có tên/không có thông tin nhà ở trên GCN (NĐ 54), hoặc diện tích <15 m²/người, hoặc trường hợp có nhà xa nơi làm việc theo QĐ tỉnh dự án — không khai theo tỉnh đang ở nếu khác tỉnh dự án.\",\"source_refs\":[\"noxh_nd_54_2026:article_1:article_29_k1\",\"counseling_project_province_jurisdiction_001\"],\"usage_rule\":\"Tra COUNSELING_FRAMEWORK.md — hai con đường nhà ở\",\"risk_level\":\"high\"},{\"claim_id\":\"mau01_income_on_form_001\",\"claim\":\"Phần thu nhập trên Mẫu 01 (sau NĐ 136): khai theo trần 25/35/50 triệu hoặc theo Đ.67 nếu k7; tính Bảng tiền công tiền lương thực nhận 12 tháng liền kề từ thời điểm xác nhận; có QĐ hệ số tỉnh thì áp hệ số lên mức a,b Đ.30.\",\"source_refs\":[\"noxh_nd_136_2026:article_1:article_30_k1\",\"nd100_income_k568_2026\"],\"usage_rule\":\"Tra local-policy cho hệ số tỉnh dự án\",\"risk_level\":\"high\"}],\"forbidden_claims\":[\"Giấy xác nhận cũ phải làm lại ngay 07/04/2026\",\"Chỉ cần photo CCCD là đủ\",\"Mẫu đơn mọi dự án giống hệt nhau không cần đọc hướng dẫn CĐT\",\"Vợ/chồng không liên quan thì không cần khai\",\"Chỉ người đứng đơn mới bị xét nhà ở\",\"Không có HĐLĐ vẫn tick k5 được\",\"Công an chỉ xác nhận cư trú, không liên quan thu nhập k8\",\"Ở tỉnh khác không có nhà thì khai chưa có nhà tại tỉnh dự án\",\"Cách dự án 20km là đủ trên đơn\",\"Ghi lương HĐLĐ là đủ không cần bảng xác nhận\",\"Tự nhân hệ số tỉnh khi chưa có QĐ\"],\"disclaimer_required\":true,\"needs_human_legal_source\":false},\"loan_dti\":{\"topic\":\"loan_dti\",\"intent\":\"short_legal_explainer\",\"province_code\":null,\"merger_group_id\":null,\"project_jurisdiction_note\":\"Cần xác định tỉnh dự án trước khi tra QĐ địa phương\",\"as_of\":\"2026-06-26\",\"facts\":[{\"claim_id\":\"nd261_loan_rate_54pct_001\",\"claim\":\"Lãi suất cho vay mua/thuê mua NOXH tại Ngân hàng Chính sách xã hội: 5,4%/năm; nợ quá hạn 130% lãi suất cho vay (NĐ 261 sửa Điều 48 k4 NĐ 100). Khoản vay đã ký trước 10/10/2025 được điều chỉnh HĐ áp dụng mức mới.\",\"source_refs\":[\"noxh_nd_261_2025:article_1:article_48_k4\",\"noxh_nd_261_2025:article_3:k1\"],\"usage_rule\":\"Không cam kết được duyệt vay\",\"risk_level\":\"high\"},{\"claim_id\":\"noxh_loan_two_tier_001\",\"claim\":\"Đủ điều kiện mua/thuê mua NOXH (CĐT/Sở XD — đối tượng Đ.76, nhà ở Đ.78, thu nhập, Mẫu 01) tách biệt với được duyệt vay ưu đãi (NHCSXH/TCTD chỉ định thẩm định khả năng trả nợ). Agent không cam kết vay khi chỉ đủ Tầng A.\",\"source_refs\":[\"noxh_nd_100_2024:article_48\",\"noxh_luat_nha_o_2023:article_77\"],\"usage_rule\":\"Chi tiết: noxh-loan-nhcsxh-counseling.md\",\"risk_level\":\"high\"},{\"claim_id\":\"noxh_loan_nhcsxh_conditions_001\",\"claim\":\"Vay mua/thuê mua NOXH tại NHCSXH (NĐ 100 Đ.48 k1): đối tượng k1,4,5,6,7,8 Đ.76; phải có thu nhập và khả năng trả nợ; giấy đề nghị vay; hợp đồng mua/thuê mua với CĐT; bảo đảm bằng tài sản hình thành từ vốn vay (HĐ ba bên NH-CĐT-người vay). Đối tượng k2,k3 Đ.76 mua theo Đ.77 k1 cũng được vay theo Đ.48.\",\"source_refs\":[\"noxh_nd_100_2024:article_48\"],\"usage_rule\":\"Cần HĐ CĐT trước khi giải ngân — không chốt nếu chưa có HĐ\",\"risk_level\":\"high\"},{\"claim_id\":\"noxh_loan_nhcsxh_limit_80pct_001\",\"claim\":\"Mức vốn cho vay mua/thuê mua NOXH tại NHCSXH tối đa 80% giá trị hợp đồng mua/thuê mua; người vay cần tối thiểu khoảng 20% vốn tự có (NĐ 100 Đ.48 k3a). Thời hạn vay tối đa 25 năm từ ngày giải ngân đầu tiên, thỏa thuận theo khả năng trả nợ.\",\"source_refs\":[\"noxh_nd_100_2024:article_48:k3\",\"noxh_nd_100_2024:article_48:k5\"],\"usage_rule\":\"Không kết luận chắc chắn đủ điều kiện.\",\"risk_level\":\"high\"},{\"claim_id\":\"noxh_loan_gov_support_mechanism_001\",\"claim\":\"Chính sách hỗ trợ cho vay ưu đãi NOXH: Nhà nước bố trí nguồn vốn qua NHCSXH (Đ.50 NĐ 100) — với đối tượng mua/thuê mua khoản 5 Đ.77 Luật Nhà ở thường NSNN cấp khoảng 50% vốn KHTĐT công, NHCSXH huy động khoảng 50%, NSNN cấp bù chênh lệch lãi suất và phí quản lý. NHCSXH được huy động tiền gửi tiết kiệm người mua NOXH để cho vay (Đ.46 k4). Một người/hộ chỉ áp dụng một chính sách vay hỗ trợ mức cao nhất (Đ.46 k1-k2).\",\"source_refs\":[\"noxh_nd_100_2024:article_46\",\"noxh_nd_100_2024:article_50\",\"noxh_luat_nha_o_2023:article_77\"],\"usage_rule\":\"Không nhầm cấp bù lãi suất với miễn trả lãi cho người vay\",\"risk_level\":\"medium\"},{\"claim_id\":\"noxh_loan_designated_credit_institution_001\",\"claim\":\"Ngoài NHCSXH, vay ưu đãi mua/thuê mua NOXH có thể qua tổ chức tín dụng do Nhà nước chỉ định (NĐ 100 Đ.49) theo chương trình tín dụng Chính phủ/Thủ tướng từng thời kỳ — lãi suất và điều kiện không mặc định bằng 5,4% như NHCSXH.\",\"source_refs\":[\"noxh_nd_100_2024:article_49\"],\"usage_rule\":\"Đối chiếu thông báo dự án nếu vay qua NH liên kết\",\"risk_level\":\"medium\"},{\"claim_id\":\"bank_cic_credit_history_001\",\"claim\":\"CIC (TT 15/2023) lưu lịch sử tín dụng; ngân hàng tra CIC trước khi cho vay. Điểm tín dụng/chấm điểm CIC là công cụ tham khảo — không có ngưỡng điểm quốc gia bắt buộc; mỗi TCTD tự quyết theo quy chế nội bộ (TT 39/2016). Khách nên tự tra CIC trước khi vay.\",\"source_refs\":[\"bank_tt_15_2023\",\"bank_tt_39_2016\"],\"usage_rule\":\"Chi tiết: bank-credit-appraisal-counseling.md\",\"risk_level\":\"medium\"}],\"forbidden_claims\":[\"Lãi suất NOXH cố định 5,4% mãi mãi\",\"Mọi ngân hàng đều 5,4%\",\"Đủ điều kiện NOXH chắc chắn được vay\",\"CĐT duyệt là ngân hàng tự động duyệt vay\",\"Vay NOXH không cần hợp đồng chủ đầu tư\",\"Mọi đối tượng Đ.76 đều vay NHCSXH\",\"Vay 100% giá căn NOXH tại NHCSXH\",\"Mọi khoản vay đều 25 năm cố định\",\"Nhà nước trả hết lãi vay NOXH thay người mua\",\"Không cần vốn tự có vì có hỗ trợ Chính phủ\",\"Mọi ngân hàng thương mại đều cho vay 5,4%\",\"NH liên kết dự án = tự động là vay chính sách\"],\"disclaimer_required\":true,\"needs_human_legal_source\":false},\"valuation_certificate\":{\"topic\":\"valuation_certificate\",\"intent\":\"short_legal_explainer\",\"province_code\":null,\"merger_group_id\":null,\"project_jurisdiction_note\":\"Cần xác định tỉnh dự án trước khi tra QĐ địa phương\",\"as_of\":\"2026-06-26\",\"facts\":[],\"forbidden_claims\":[],\"disclaimer_required\":true,\"needs_human_legal_source\":true},\"noxh_online_submission\":{\"topic\":\"noxh_online_submission\",\"intent\":\"short_legal_explainer\",\"province_code\":null,\"merger_group_id\":null,\"project_jurisdiction_note\":\"Cần xác định tỉnh dự án trước khi tra QĐ địa phương\",\"as_of\":\"2026-06-26\",\"facts\":[{\"claim_id\":\"nd100_registration_one_project_001\",\"claim\":\"Mỗi hộ/cá nhân không được đồng thời đăng ký mua NOXH tại nhiều dự án (Điều 38 NĐ 100; NĐ 54 bổ sung hình thức nộp trực tuyến/bưu chính — xem nd54_register_one_project_001).\",\"source_refs\":[\"noxh_nd_100_2024:article_38:k1e\",\"noxh_nd_54_2026:article_1:article_38\"],\"usage_rule\":\"Không kết luận chắc chắn đủ điều kiện.\",\"risk_level\":\"medium\"},{\"claim_id\":\"nd100_registration_lottery_001\",\"claim\":\"Khi hồ sơ vượt số căn: bốc thăm (trực tiếp/trực tuyến) do CĐT tổ chức, Sở XD giám sát. Từ NĐ 54: thứ tự ưu tiên cụ thể (người có công → liệt sĩ → khuyết tật → tái định cư → nữ giới) — xem nd54_priority_order_001; giấy tờ có giá trị 12 tháng.\",\"source_refs\":[\"noxh_nd_100_2024:article_38:k2\",\"noxh_nd_54_2026:article_1:article_38\"],\"usage_rule\":\"Không cam kết trúng bốc thăm\",\"risk_level\":\"medium\"},{\"claim_id\":\"nd54_register_one_project_001\",\"claim\":\"Theo NĐ 54 sửa Điều 38: mỗi hộ/cá nhân không được đồng thời đăng ký mua NOXH tại nhiều dự án trong cùng thời điểm; có thể nộp trực tiếp, trực tuyến, bưu chính hoặc qua đơn vị nơi làm việc.\",\"source_refs\":[\"noxh_nd_54_2026:article_1:article_38\"],\"usage_rule\":\"Không kết luận chắc chắn đủ điều kiện.\",\"risk_level\":\"medium\"},{\"claim_id\":\"mau01_commitment_single_project_001\",\"claim\":\"Cuối đơn và hồ sơ: người đăng ký cam kết chưa hưởng chính sách hỗ trợ nhà ở và không đăng ký đồng thời nhiều dự án (NĐ 54 Đ.38); giấy tờ chứng minh có giá trị 12 tháng từ ngày xác nhận.\",\"source_refs\":[\"noxh_nd_54_2026:article_1:article_38\",\"nd54_single_project_001\"],\"usage_rule\":\"Không kết luận chắc chắn đủ điều kiện.\",\"risk_level\":\"high\"}],\"forbidden_claims\":[\"Có thể nộp nhiều dự án cùng lúc\",\"Nộp sớm là chắc chắn được mua\",\"Không có bốc thăm khi quá số căn\",\"Có thể nộp nhiều dự án cùng lúc để tăng cơ hội\",\"Nộp thử 2 dự án rồi chọn sau\",\"Giấy xác nhận cũ 2 năm vẫn dùng\"],\"disclaimer_required\":true,\"needs_human_legal_source\":false},\"noxh_transfer_restrictions\":{\"topic\":\"noxh_transfer_restrictions\",\"intent\":\"short_legal_explainer\",\"province_code\":null,\"merger_group_id\":null,\"project_jurisdiction_note\":\"Cần xác định tỉnh dự án trước khi tra QĐ địa phương\",\"as_of\":\"2026-06-26\",\"facts\":[{\"claim_id\":\"nd100_resale_5years_001\",\"claim\":\"Bán lại NOXH trong thời hạn 5 năm: phải thanh lý Hợp đồng với chủ đầu tư; bán cho chủ đầu tư hoặc đối tượng đủ điều kiện mua NOXH; người mua lại phải có xác nhận đối tượng/điều kiện và nộp hồ sơ tại Sở Xây dựng địa phương.\",\"source_refs\":[\"noxh_nd_100_2024:article_39\"],\"usage_rule\":\"Không kết luận chắc chắn đủ điều kiện.\",\"risk_level\":\"high\"},{\"claim_id\":\"nd100_resale_land_fee_50pct_001\",\"claim\":\"Bán lại nhà riêng lẻ NOXH sau 5 năm: ngoài nghĩa vụ theo luật đất đai, bên bán phải nộp thêm 50% tiền sử dụng đất (Điều 42 NĐ 100/2024).\",\"source_refs\":[\"noxh_nd_100_2024:article_42\"],\"usage_rule\":\"Chỉ áp dụng nhà riêng lẻ theo văn bản; căn hộ chung cư cần đối chiếu điểm luật liên quan\",\"risk_level\":\"high\"}],\"forbidden_claims\":[\"Mua xong bán tự do ngay\",\"Không cần xác nhận khi bán lại trong 5 năm\",\"Bán lại sau 5 năm không phải nộp thêm gì\"],\"disclaimer_required\":true,\"needs_human_legal_source\":false},\"noxh_income__tp_ho_chi_minh\":{\"topic\":\"noxh_income\",\"intent\":\"short_legal_explainer\",\"province_code\":\"tp_ho_chi_minh\",\"merger_group_id\":\"mega_hcm\",\"project_jurisdiction_note\":\"Áp QĐ theo tỉnh/TP của dự án NOXH — xem counseling_project_province_jurisdiction_001\",\"as_of\":\"2026-06-26\",\"facts\":[{\"claim_id\":\"local_hcm_income_coeff_125_001\",\"claim\":\"TP.HCM (QĐ 14/2026/QĐ-UBND, từ 01/04/2026): hệ số thu nhập 1,25 → trần 25 / 37,5 / 50 triệu (độc thân / nuôi con / vợ chồng) cho k5,k6,k8 Đ.76.\",\"source_refs\":[\"local_tp_hcm_qd14_2026:article_3:k1\"],\"usage_rule\":\"Chỉ áp dụng khi dự án trên địa bàn TP.HCM\",\"risk_level\":\"high\"},{\"claim_id\":\"local_hcm_income_coeff_135_001\",\"claim\":\"TP.HCM: hộ có từ 3 người phụ thuộc — hệ số 1,35 → trần 27 / 40,5 / 54 triệu; được ưu tiên căn lớn hoặc ≥2 phòng ngủ nếu có (QĐ 14/2026).\",\"source_refs\":[\"local_tp_hcm_qd14_2026:article_3:k2\"],\"usage_rule\":\"Phải đủ điều kiện phụ thuộc theo QĐ 14 và pháp luật\",\"risk_level\":\"high\"},{\"claim_id\":\"nd100_income_k568_2026\",\"claim\":\"Từ 07/04/2026, khoản 1 Điều 30 NĐ 100/2024 (sửa tại NĐ 136/2026) quy định đối tượng khoản 5, 6, 8 Điều 76 Luật Nhà ở: độc thân/chưa kết hôn ≤ 25 triệu/tháng; độc thân nuôi con dưới tuổi thành niên ≤ 35 triệu/tháng; đã kết hôn tổng vợ chồng ≤ 50 triệu/tháng (thu nhập bình quân thực nhận theo Bảng tiền công, tiền lương). Thời gian xác định: 12 tháng liền kề từ thời điểm cơ quan có thẩm quyền xác nhận.\",\"source_refs\":[\"noxh_nd_100_2024:article_30:k1\",\"noxh_nd_136_2026:article_1\"],\"usage_rule\":\"Phải xác định thời điểm nộp/xác nhận hồ sơ để chọn mức 15-30 hay 25-50\",\"risk_level\":\"high\"},{\"claim_id\":\"nd54_income_ca_xa_001\",\"claim\":\"Đối tượng khoản 5 Điều 76 không có HĐLĐ: từ 09/02/2026 (NĐ 54 sửa khoản 2 Điều 30), Công an cấp xã nơi thường trú/tạm trú/nơi ở hiện tại xác nhận trong 07 ngày; công dân kê khai cam kết thu nhập; có hậu kiểm; đơn đề nghị xác nhận đồng thời là giấy chứng minh đối tượng.\",\"source_refs\":[\"noxh_nd_54_2026:article_1:article_30_k2\"],\"usage_rule\":\"Mức trần thu nhập vẫn theo khoản 1 Điều 30 (15-30 trước 07/04/2026; 25-50 sau NĐ 136)\",\"risk_level\":\"high\"},{\"claim_id\":\"nd136_income_provincial_factor_001\",\"claim\":\"UBND cấp tỉnh được quyết định hệ số điều chỉnh mức thu nhập (25/35/50 triệu) theo điều kiện địa phương, không vượt quá tỷ lệ thu nhập bình quân đầu người địa phương so với cả nước; có thể có chính sách khuyến khích hộ có từ 3 người phụ thuộc trở lên (NĐ 136 điểm d khoản 1 Điều 30).\",\"source_refs\":[\"noxh_nd_136_2026:article_1:article_30_k1d\"],\"usage_rule\":\"Phải tra quyết định địa phương trước khi khẳng định mức trần\",\"risk_level\":\"high\"},{\"claim_id\":\"nd136_llvt_income_spouse_001\",\"claim\":\"Vợ/chồng người đứng đơn thuộc lực lượng vũ trang (khoản 7 Đ.76) nhưng vợ/chồng không thuộc khoản 7: tổng thu nhập vợ chồng không quá thu nhập sĩ quan hàm Đại tá (gồm phụ cấp khu vực) cộng mức lương điểm a khoản 1 Điều 30 (25 triệu theo NĐ 136).\",\"source_refs\":[\"noxh_nd_136_2026:article_1:article_67_k2b\"],\"usage_rule\":\"Không kết luận chắc chắn đủ điều kiện.\",\"risk_level\":\"high\"},{\"claim_id\":\"income_adult_child_not_counted_001\",\"claim\":\"Mẫu 01 mục 11.1 — thu nhập xét để đủ điều kiện NOXH: độc thân chỉ tính bản thân người đứng đơn; đã kết hôn cộng vợ/chồng. Thu nhập con từ 18 tuổi trở lên không cộng vào trần cha/mẹ dù còn chung hộ khẩu hoặc chưa tách sổ. Độc thân nuôi con chỉ áp trần 35 triệu khi con dưới 18 tuổi — con ≥18 không dùng nhánh này.\",\"source_refs\":[\"mau01_section_11_1_k568_001\",\"noxh_nd_136_2026:article_1:article_30_k1\",\"noxh_nd_100_2024:article_30:k1\"],\"usage_rule\":\"Tiền con hỗ trợ cha/mẹ định kỳ nếu thực nhận → kê khai thu nhập của cha/mẹ\",\"risk_level\":\"high\"}],\"forbidden_claims\":[\"Mọi tỉnh miền Nam đều 37,5 triệu\",\"Áp dụng QĐ 14 cho dự án Bình Dương\",\"3 con chắc chắn được căn 2PN\",\"Thu nhập 20 triệu chắc chắn đủ điều kiện mọi thời điểm\",\"Áp dụng mức 25/50 triệu cho hồ sơ trước 07/04/2026\",\"UBND xã vẫn là cơ quan xác nhận thu nhập\",\"Không cần kê khai thu nhập\",\"25 triệu áp dụng cứng cho mọi tỉnh\",\"Không có điều chỉnh địa phương\",\"Vợ chồng lực lượng vũ trang dùng mức 25/50 triệu như dân sự\",\"Con thu nhập cao làm cha mẹ không được mua NOXH\",\"Phải tách hộ khẩu với con trưởng thành mới nộp được\"],\"disclaimer_required\":true,\"needs_human_legal_source\":false},\"noxh_income__dong_nai\":{\"topic\":\"noxh_income\",\"intent\":\"short_legal_explainer\",\"province_code\":\"dong_nai\",\"merger_group_id\":\"mega_dong_nai\",\"project_jurisdiction_note\":\"Áp QĐ theo tỉnh/TP của dự án NOXH — xem counseling_project_province_jurisdiction_001\",\"as_of\":\"2026-06-26\",\"facts\":[{\"claim_id\":\"local_dong_nai_income_national_default_001\",\"claim\":\"Đồng Nai (tại thời điểm KB 06/2026): chưa có QĐ hệ số thu nhập riêng sau NĐ 136 — áp dụng khung quốc gia 25/35/50 triệu. QĐ 08/2025 quy định đối tượng/ưu tiên; UBND đang tham mưu sửa đổi.\",\"source_refs\":[\"local_dong_nai_qd08_2025\",\"nd100_income_k568_2026\"],\"usage_rule\":\"needs_human_legal_source nếu user hỏi mức khác 25/35/50 và chưa cập nhật QĐ mới\",\"risk_level\":\"high\"},{\"claim_id\":\"local_dong_nai_housing_distance_work_001\",\"claim\":\"Đồng Nai (QĐ 08/2025 Đ.4 k3, NQ 201 Đ.9 k2): có nhà sở hữu vẫn có thể mua/thuê mua NOXH nếu (1) nhà→nơi làm việc ≥20km, (2) nơi làm việc→căn NOXH đăng ký gần hơn nhà→nơi làm việc, (3) đơn vị nơi làm việc xác nhận. Không phải quy tắc nhà cách dự án 20km.\",\"source_refs\":[\"local_dong_nai_qd08_2025:article_4:k3\",\"nq201_2025:article_9:k2\"],\"usage_rule\":\"Phân biệt với con đường chưa có nhà trên GCN (NĐ 54) — đất thổ cư chưa xây\",\"risk_level\":\"high\"},{\"claim_id\":\"nd100_income_k568_2026\",\"claim\":\"Từ 07/04/2026, khoản 1 Điều 30 NĐ 100/2024 (sửa tại NĐ 136/2026) quy định đối tượng khoản 5, 6, 8 Điều 76 Luật Nhà ở: độc thân/chưa kết hôn ≤ 25 triệu/tháng; độc thân nuôi con dưới tuổi thành niên ≤ 35 triệu/tháng; đã kết hôn tổng vợ chồng ≤ 50 triệu/tháng (thu nhập bình quân thực nhận theo Bảng tiền công, tiền lương). Thời gian xác định: 12 tháng liền kề từ thời điểm cơ quan có thẩm quyền xác nhận.\",\"source_refs\":[\"noxh_nd_100_2024:article_30:k1\",\"noxh_nd_136_2026:article_1\"],\"usage_rule\":\"Phải xác định thời điểm nộp/xác nhận hồ sơ để chọn mức 15-30 hay 25-50\",\"risk_level\":\"high\"},{\"claim_id\":\"nd54_income_ca_xa_001\",\"claim\":\"Đối tượng khoản 5 Điều 76 không có HĐLĐ: từ 09/02/2026 (NĐ 54 sửa khoản 2 Điều 30), Công an cấp xã nơi thường trú/tạm trú/nơi ở hiện tại xác nhận trong 07 ngày; công dân kê khai cam kết thu nhập; có hậu kiểm; đơn đề nghị xác nhận đồng thời là giấy chứng minh đối tượng.\",\"source_refs\":[\"noxh_nd_54_2026:article_1:article_30_k2\"],\"usage_rule\":\"Mức trần thu nhập vẫn theo khoản 1 Điều 30 (15-30 trước 07/04/2026; 25-50 sau NĐ 136)\",\"risk_level\":\"high\"},{\"claim_id\":\"nd136_income_provincial_factor_001\",\"claim\":\"UBND cấp tỉnh được quyết định hệ số điều chỉnh mức thu nhập (25/35/50 triệu) theo điều kiện địa phương, không vượt quá tỷ lệ thu nhập bình quân đầu người địa phương so với cả nước; có thể có chính sách khuyến khích hộ có từ 3 người phụ thuộc trở lên (NĐ 136 điểm d khoản 1 Điều 30).\",\"source_refs\":[\"noxh_nd_136_2026:article_1:article_30_k1d\"],\"usage_rule\":\"Phải tra quyết định địa phương trước khi khẳng định mức trần\",\"risk_level\":\"high\"},{\"claim_id\":\"nd136_llvt_income_spouse_001\",\"claim\":\"Vợ/chồng người đứng đơn thuộc lực lượng vũ trang (khoản 7 Đ.76) nhưng vợ/chồng không thuộc khoản 7: tổng thu nhập vợ chồng không quá thu nhập sĩ quan hàm Đại tá (gồm phụ cấp khu vực) cộng mức lương điểm a khoản 1 Điều 30 (25 triệu theo NĐ 136).\",\"source_refs\":[\"noxh_nd_136_2026:article_1:article_67_k2b\"],\"usage_rule\":\"Không kết luận chắc chắn đủ điều kiện.\",\"risk_level\":\"high\"},{\"claim_id\":\"income_adult_child_not_counted_001\",\"claim\":\"Mẫu 01 mục 11.1 — thu nhập xét để đủ điều kiện NOXH: độc thân chỉ tính bản thân người đứng đơn; đã kết hôn cộng vợ/chồng. Thu nhập con từ 18 tuổi trở lên không cộng vào trần cha/mẹ dù còn chung hộ khẩu hoặc chưa tách sổ. Độc thân nuôi con chỉ áp trần 35 triệu khi con dưới 18 tuổi — con ≥18 không dùng nhánh này.\",\"source_refs\":[\"mau01_section_11_1_k568_001\",\"noxh_nd_136_2026:article_1:article_30_k1\",\"noxh_nd_100_2024:article_30:k1\"],\"usage_rule\":\"Tiền con hỗ trợ cha/mẹ định kỳ nếu thực nhận → kê khai thu nhập của cha/mẹ\",\"risk_level\":\"high\"}],\"forbidden_claims\":[\"Đồng Nai đã tăng lên 30 triệu (chưa có căn cứ KB)\",\"Cách dự án 20km là đủ điều kiện nhà ở\",\"Không cần xác nhận đơn vị\",\"Thu nhập 20 triệu chắc chắn đủ điều kiện mọi thời điểm\",\"Áp dụng mức 25/50 triệu cho hồ sơ trước 07/04/2026\",\"UBND xã vẫn là cơ quan xác nhận thu nhập\",\"Không cần kê khai thu nhập\",\"25 triệu áp dụng cứng cho mọi tỉnh\",\"Không có điều chỉnh địa phương\",\"Vợ chồng lực lượng vũ trang dùng mức 25/50 triệu như dân sự\",\"Con thu nhập cao làm cha mẹ không được mua NOXH\",\"Phải tách hộ khẩu với con trưởng thành mới nộp được\"],\"disclaimer_required\":true,\"needs_human_legal_source\":false},\"local_policy__tp_ho_chi_minh\":{\"topic\":\"local_policy\",\"intent\":\"short_legal_explainer\",\"province_code\":\"tp_ho_chi_minh\",\"merger_group_id\":\"mega_hcm\",\"project_jurisdiction_note\":\"Áp QĐ theo tỉnh/TP của dự án NOXH — xem counseling_project_province_jurisdiction_001\",\"as_of\":\"2026-06-26\",\"facts\":[{\"claim_id\":\"local_hcm_income_coeff_125_001\",\"claim\":\"TP.HCM (QĐ 14/2026/QĐ-UBND, từ 01/04/2026): hệ số thu nhập 1,25 → trần 25 / 37,5 / 50 triệu (độc thân / nuôi con / vợ chồng) cho k5,k6,k8 Đ.76.\",\"source_refs\":[\"local_tp_hcm_qd14_2026:article_3:k1\"],\"usage_rule\":\"Chỉ áp dụng khi dự án trên địa bàn TP.HCM\",\"risk_level\":\"high\"},{\"claim_id\":\"local_hcm_income_coeff_135_001\",\"claim\":\"TP.HCM: hộ có từ 3 người phụ thuộc — hệ số 1,35 → trần 27 / 40,5 / 54 triệu; được ưu tiên căn lớn hoặc ≥2 phòng ngủ nếu có (QĐ 14/2026).\",\"source_refs\":[\"local_tp_hcm_qd14_2026:article_3:k2\"],\"usage_rule\":\"Phải đủ điều kiện phụ thuộc theo QĐ 14 và pháp luật\",\"risk_level\":\"high\"},{\"claim_id\":\"counseling_national_default_no_local_qd_001\",\"claim\":\"Tỉnh/thành phố chưa ban hành QĐ chi tiết: điều kiện đối tượng, thu nhập cơ bản (25/35/50 sau NĐ 136), chưa có nhà trên GCN (NĐ 100+54), thủ tục (NĐ 54) áp dụng khung Chính phủ. UBND tỉnh chỉ được bổ sung khi có văn bản (hệ số thu nhập, NQ 201 Đ.9 k2, ưu tiên) — không tự suy ra 20km hay mức cao hơn.\",\"source_refs\":[\"noxh_nd_100_2024:article_29\",\"noxh_nd_54_2026:article_1:article_29_k1\",\"nd100_income_k568_2026\",\"nq201_2025:article_9:k2\"],\"usage_rule\":\"Tra legal-sources/local-policy/registry.json trước khi khẳng định ngoại lệ địa phương\",\"risk_level\":\"high\"},{\"claim_id\":\"counseling_project_province_jurisdiction_001\",\"claim\":\"Quy định NOXH địa phương (hệ số thu nhập, NQ 201 Đ.9 k2 về nhà xa nơi làm việc, ưu tiên) áp theo tỉnh/TP nơi dự án NOXH được phê duyệt/triển khai — không theo tỉnh nơi ở nếu khác tỉnh dự án. Điều kiện GCN/chưa có nhà ở xét tại tỉnh có dự án (NĐ 100 Đ.29, NĐ 54).\",\"source_refs\":[\"noxh_nd_100_2024:article_29\",\"noxh_nd_54_2026:article_1:article_29_k1\",\"nq201_2025:article_9:k2\"],\"usage_rule\":\"Luôn hỏi tỉnh dự án trước khi tra registry.json\",\"risk_level\":\"high\"},{\"claim_id\":\"admin_merger_transitional_noxh_001\",\"claim\":\"Sau sáp nhập: HCM+BD+BR-VT; Tây Ninh+Long An; Đồng Nai+Bình Phước; Cần Thơ+Hậu Giang+Sóc Trăng — không tự gộp QĐ tỉnh thành phần. Dự án đã đăng ký/hồ sơ cũ thường theo văn bản tại thời điểm đăng ký cho đến khi UBND mới ban hành QĐ thống nhất hoặc chuyển tiếp; cần xác nhận Sở XD/CĐT.\",\"source_refs\":[\"local_policy:admin_merger_map\"],\"usage_rule\":\"Tra legal-sources/local-policy/ADMIN_MERGER_MAP.md\",\"risk_level\":\"high\"},{\"claim_id\":\"nd100_housing_no_owned_001\",\"claim\":\"Để được coi là chưa có nhà ở khi đăng ký mua/thuê mua NOXH, người đứng đơn và vợ/chồng (nếu có) không có tên trong GCN QSDĐ tại tỉnh/TP nơi có dự án. Từ 09/02/2026 (NĐ 54): thêm trường hợp không có nội dung thông tin về nhà ở trên GCN — không phụ thuộc thời điểm nộp hồ sơ.\",\"source_refs\":[\"noxh_nd_100_2024:article_29:k1\",\"noxh_nd_54_2026:article_1:article_29_k1\"],\"usage_rule\":\"Không kết luận chắc chắn đủ điều kiện chỉ vì không thấy tên trên một GCN cụ thể\",\"risk_level\":\"high\"},{\"claim_id\":\"nd100_housing_low_area_001\",\"claim\":\"Trường hợp đã có nhà thuộc sở hữu nhưng diện tích bình quân đầu người dưới 15 m² sàn/người (tính theo thành viên đăng ký thường trú tại căn nhà) vẫn có thể đáp ứng điều kiện nhà ở theo Nghị định 100/2024.\",\"source_refs\":[\"noxh_nd_100_2024:article_29:k2\"],\"usage_rule\":\"Cần xác nhận của UBND cấp xã trong 07 ngày\",\"risk_level\":\"high\"}],\"forbidden_claims\":[\"Mọi tỉnh miền Nam đều 37,5 triệu\",\"Áp dụng QĐ 14 cho dự án Bình Dương\",\"3 con chắc chắn được căn 2PN\",\"Mọi tỉnh đều áp dụng 20km như Đồng Nai\",\"Không có QĐ tỉnh thì không mua được NOXH\",\"Ở tỉnh nào thì áp quy định tỉnh đó\",\"Làm việc Đồng Nai thì dự án Bình Dương áp QĐ Đồng Nai\",\"Sáp nhập xong mọi dự án vùng Đông Nam Bộ áp QĐ Đồng Nai\",\"Long An tự động áp QĐ 71 Tây Ninh\",\"Chắc chắn không bị loại vì nhà ở tỉnh khác\",\"Không cần xác nhận VPĐK đất đai\",\"Có nhà rồi chắc chắn không mua được NOXH\"],\"disclaimer_required\":true,\"needs_human_legal_source\":false},\"local_policy__dong_nai\":{\"topic\":\"local_policy\",\"intent\":\"short_legal_explainer\",\"province_code\":\"dong_nai\",\"merger_group_id\":\"mega_dong_nai\",\"project_jurisdiction_note\":\"Áp QĐ theo tỉnh/TP của dự án NOXH — xem counseling_project_province_jurisdiction_001\",\"as_of\":\"2026-06-26\",\"facts\":[{\"claim_id\":\"local_dong_nai_income_national_default_001\",\"claim\":\"Đồng Nai (tại thời điểm KB 06/2026): chưa có QĐ hệ số thu nhập riêng sau NĐ 136 — áp dụng khung quốc gia 25/35/50 triệu. QĐ 08/2025 quy định đối tượng/ưu tiên; UBND đang tham mưu sửa đổi.\",\"source_refs\":[\"local_dong_nai_qd08_2025\",\"nd100_income_k568_2026\"],\"usage_rule\":\"needs_human_legal_source nếu user hỏi mức khác 25/35/50 và chưa cập nhật QĐ mới\",\"risk_level\":\"high\"},{\"claim_id\":\"local_dong_nai_housing_distance_work_001\",\"claim\":\"Đồng Nai (QĐ 08/2025 Đ.4 k3, NQ 201 Đ.9 k2): có nhà sở hữu vẫn có thể mua/thuê mua NOXH nếu (1) nhà→nơi làm việc ≥20km, (2) nơi làm việc→căn NOXH đăng ký gần hơn nhà→nơi làm việc, (3) đơn vị nơi làm việc xác nhận. Không phải quy tắc nhà cách dự án 20km.\",\"source_refs\":[\"local_dong_nai_qd08_2025:article_4:k3\",\"nq201_2025:article_9:k2\"],\"usage_rule\":\"Phân biệt với con đường chưa có nhà trên GCN (NĐ 54) — đất thổ cư chưa xây\",\"risk_level\":\"high\"},{\"claim_id\":\"counseling_national_default_no_local_qd_001\",\"claim\":\"Tỉnh/thành phố chưa ban hành QĐ chi tiết: điều kiện đối tượng, thu nhập cơ bản (25/35/50 sau NĐ 136), chưa có nhà trên GCN (NĐ 100+54), thủ tục (NĐ 54) áp dụng khung Chính phủ. UBND tỉnh chỉ được bổ sung khi có văn bản (hệ số thu nhập, NQ 201 Đ.9 k2, ưu tiên) — không tự suy ra 20km hay mức cao hơn.\",\"source_refs\":[\"noxh_nd_100_2024:article_29\",\"noxh_nd_54_2026:article_1:article_29_k1\",\"nd100_income_k568_2026\",\"nq201_2025:article_9:k2\"],\"usage_rule\":\"Tra legal-sources/local-policy/registry.json trước khi khẳng định ngoại lệ địa phương\",\"risk_level\":\"high\"},{\"claim_id\":\"counseling_project_province_jurisdiction_001\",\"claim\":\"Quy định NOXH địa phương (hệ số thu nhập, NQ 201 Đ.9 k2 về nhà xa nơi làm việc, ưu tiên) áp theo tỉnh/TP nơi dự án NOXH được phê duyệt/triển khai — không theo tỉnh nơi ở nếu khác tỉnh dự án. Điều kiện GCN/chưa có nhà ở xét tại tỉnh có dự án (NĐ 100 Đ.29, NĐ 54).\",\"source_refs\":[\"noxh_nd_100_2024:article_29\",\"noxh_nd_54_2026:article_1:article_29_k1\",\"nq201_2025:article_9:k2\"],\"usage_rule\":\"Luôn hỏi tỉnh dự án trước khi tra registry.json\",\"risk_level\":\"high\"},{\"claim_id\":\"admin_merger_transitional_noxh_001\",\"claim\":\"Sau sáp nhập: HCM+BD+BR-VT; Tây Ninh+Long An; Đồng Nai+Bình Phước; Cần Thơ+Hậu Giang+Sóc Trăng — không tự gộp QĐ tỉnh thành phần. Dự án đã đăng ký/hồ sơ cũ thường theo văn bản tại thời điểm đăng ký cho đến khi UBND mới ban hành QĐ thống nhất hoặc chuyển tiếp; cần xác nhận Sở XD/CĐT.\",\"source_refs\":[\"local_policy:admin_merger_map\"],\"usage_rule\":\"Tra legal-sources/local-policy/ADMIN_MERGER_MAP.md\",\"risk_level\":\"high\"},{\"claim_id\":\"nd100_housing_no_owned_001\",\"claim\":\"Để được coi là chưa có nhà ở khi đăng ký mua/thuê mua NOXH, người đứng đơn và vợ/chồng (nếu có) không có tên trong GCN QSDĐ tại tỉnh/TP nơi có dự án. Từ 09/02/2026 (NĐ 54): thêm trường hợp không có nội dung thông tin về nhà ở trên GCN — không phụ thuộc thời điểm nộp hồ sơ.\",\"source_refs\":[\"noxh_nd_100_2024:article_29:k1\",\"noxh_nd_54_2026:article_1:article_29_k1\"],\"usage_rule\":\"Không kết luận chắc chắn đủ điều kiện chỉ vì không thấy tên trên một GCN cụ thể\",\"risk_level\":\"high\"},{\"claim_id\":\"nd100_housing_low_area_001\",\"claim\":\"Trường hợp đã có nhà thuộc sở hữu nhưng diện tích bình quân đầu người dưới 15 m² sàn/người (tính theo thành viên đăng ký thường trú tại căn nhà) vẫn có thể đáp ứng điều kiện nhà ở theo Nghị định 100/2024.\",\"source_refs\":[\"noxh_nd_100_2024:article_29:k2\"],\"usage_rule\":\"Cần xác nhận của UBND cấp xã trong 07 ngày\",\"risk_level\":\"high\"}],\"forbidden_claims\":[\"Đồng Nai đã tăng lên 30 triệu (chưa có căn cứ KB)\",\"Cách dự án 20km là đủ điều kiện nhà ở\",\"Không cần xác nhận đơn vị\",\"Mọi tỉnh đều áp dụng 20km như Đồng Nai\",\"Không có QĐ tỉnh thì không mua được NOXH\",\"Ở tỉnh nào thì áp quy định tỉnh đó\",\"Làm việc Đồng Nai thì dự án Bình Dương áp QĐ Đồng Nai\",\"Sáp nhập xong mọi dự án vùng Đông Nam Bộ áp QĐ Đồng Nai\",\"Long An tự động áp QĐ 71 Tây Ninh\",\"Chắc chắn không bị loại vì nhà ở tỉnh khác\",\"Không cần xác nhận VPĐK đất đai\",\"Có nhà rồi chắc chắn không mua được NOXH\"],\"disclaimer_required\":true,\"needs_human_legal_source\":false}},\"packs_by_segment\":{\"noxh_income\":{\"topic\":\"noxh_income\",\"intent\":\"short_legal_explainer\",\"province_code\":null,\"merger_group_id\":null,\"project_jurisdiction_note\":\"Cần xác định tỉnh dự án trước khi tra QĐ địa phương\",\"as_of\":\"2026-06-26\",\"facts\":[{\"claim_id\":\"nd100_income_k568_2026\",\"claim\":\"Từ 07/04/2026, khoản 1 Điều 30 NĐ 100/2024 (sửa tại NĐ 136/2026) quy định đối tượng khoản 5, 6, 8 Điều 76 Luật Nhà ở: độc thân/chưa kết hôn ≤ 25 triệu/tháng; độc thân nuôi con dưới tuổi thành niên ≤ 35 triệu/tháng; đã kết hôn tổng vợ chồng ≤ 50 triệu/tháng (thu nhập bình quân thực nhận theo Bảng tiền công, tiền lương). Thời gian xác định: 12 tháng liền kề từ thời điểm cơ quan có thẩm quyền xác nhận.\",\"source_refs\":[\"noxh_nd_100_2024:article_30:k1\",\"noxh_nd_136_2026:article_1\"],\"usage_rule\":\"Phải xác định thời điểm nộp/xác nhận hồ sơ để chọn mức 15-30 hay 25-50\",\"risk_level\":\"high\"},{\"claim_id\":\"nd54_income_ca_xa_001\",\"claim\":\"Đối tượng khoản 5 Điều 76 không có HĐLĐ: từ 09/02/2026 (NĐ 54 sửa khoản 2 Điều 30), Công an cấp xã nơi thường trú/tạm trú/nơi ở hiện tại xác nhận trong 07 ngày; công dân kê khai cam kết thu nhập; có hậu kiểm; đơn đề nghị xác nhận đồng thời là giấy chứng minh đối tượng.\",\"source_refs\":[\"noxh_nd_54_2026:article_1:article_30_k2\"],\"usage_rule\":\"Mức trần thu nhập vẫn theo khoản 1 Điều 30 (15-30 trước 07/04/2026; 25-50 sau NĐ 136)\",\"risk_level\":\"high\"},{\"claim_id\":\"nd136_income_provincial_factor_001\",\"claim\":\"UBND cấp tỉnh được quyết định hệ số điều chỉnh mức thu nhập (25/35/50 triệu) theo điều kiện địa phương, không vượt quá tỷ lệ thu nhập bình quân đầu người địa phương so với cả nước; có thể có chính sách khuyến khích hộ có từ 3 người phụ thuộc trở lên (NĐ 136 điểm d khoản 1 Điều 30).\",\"source_refs\":[\"noxh_nd_136_2026:article_1:article_30_k1d\"],\"usage_rule\":\"Phải tra quyết định địa phương trước khi khẳng định mức trần\",\"risk_level\":\"high\"},{\"claim_id\":\"nd136_llvt_income_spouse_001\",\"claim\":\"Vợ/chồng người đứng đơn thuộc lực lượng vũ trang (khoản 7 Đ.76) nhưng vợ/chồng không thuộc khoản 7: tổng thu nhập vợ chồng không quá thu nhập sĩ quan hàm Đại tá (gồm phụ cấp khu vực) cộng mức lương điểm a khoản 1 Điều 30 (25 triệu theo NĐ 136).\",\"source_refs\":[\"noxh_nd_136_2026:article_1:article_67_k2b\"],\"usage_rule\":\"Không kết luận chắc chắn đủ điều kiện.\",\"risk_level\":\"high\"},{\"claim_id\":\"income_adult_child_not_counted_001\",\"claim\":\"Mẫu 01 mục 11.1 — thu nhập xét để đủ điều kiện NOXH: độc thân chỉ tính bản thân người đứng đơn; đã kết hôn cộng vợ/chồng. Thu nhập con từ 18 tuổi trở lên không cộng vào trần cha/mẹ dù còn chung hộ khẩu hoặc chưa tách sổ. Độc thân nuôi con chỉ áp trần 35 triệu khi con dưới 18 tuổi — con ≥18 không dùng nhánh này.\",\"source_refs\":[\"mau01_section_11_1_k568_001\",\"noxh_nd_136_2026:article_1:article_30_k1\",\"noxh_nd_100_2024:article_30:k1\"],\"usage_rule\":\"Tiền con hỗ trợ cha/mẹ định kỳ nếu thực nhận → kê khai thu nhập của cha/mẹ\",\"risk_level\":\"high\"}],\"forbidden_claims\":[\"Thu nhập 20 triệu chắc chắn đủ điều kiện mọi thời điểm\",\"Áp dụng mức 25/50 triệu cho hồ sơ trước 07/04/2026\",\"UBND xã vẫn là cơ quan xác nhận thu nhập\",\"Không cần kê khai thu nhập\",\"25 triệu áp dụng cứng cho mọi tỉnh\",\"Không có điều chỉnh địa phương\",\"Vợ chồng lực lượng vũ trang dùng mức 25/50 triệu như dân sự\",\"Con thu nhập cao làm cha mẹ không được mua NOXH\",\"Phải tách hộ khẩu với con trưởng thành mới nộp được\",\"Cộng lương con ≥18 vào tổng 11.1 của cha mẹ\"],\"disclaimer_required\":true,\"needs_human_legal_source\":false},\"valuation\":{\"topic\":\"valuation_certificate\",\"intent\":\"short_legal_explainer\",\"province_code\":null,\"merger_group_id\":null,\"project_jurisdiction_note\":\"Cần xác định tỉnh dự án trước khi tra QĐ địa phương\",\"as_of\":\"2026-06-26\",\"facts\":[],\"forbidden_claims\":[],\"disclaimer_required\":true,\"needs_human_legal_source\":true},\"sme_credit\":{\"topic\":\"loan_dti\",\"intent\":\"short_legal_explainer\",\"province_code\":null,\"merger_group_id\":null,\"project_jurisdiction_note\":\"Cần xác định tỉnh dự án trước khi tra QĐ địa phương\",\"as_of\":\"2026-06-26\",\"facts\":[{\"claim_id\":\"nd261_loan_rate_54pct_001\",\"claim\":\"Lãi suất cho vay mua/thuê mua NOXH tại Ngân hàng Chính sách xã hội: 5,4%/năm; nợ quá hạn 130% lãi suất cho vay (NĐ 261 sửa Điều 48 k4 NĐ 100). Khoản vay đã ký trước 10/10/2025 được điều chỉnh HĐ áp dụng mức mới.\",\"source_refs\":[\"noxh_nd_261_2025:article_1:article_48_k4\",\"noxh_nd_261_2025:article_3:k1\"],\"usage_rule\":\"Không cam kết được duyệt vay\",\"risk_level\":\"high\"},{\"claim_id\":\"noxh_loan_two_tier_001\",\"claim\":\"Đủ điều kiện mua/thuê mua NOXH (CĐT/Sở XD — đối tượng Đ.76, nhà ở Đ.78, thu nhập, Mẫu 01) tách biệt với được duyệt vay ưu đãi (NHCSXH/TCTD chỉ định thẩm định khả năng trả nợ). Agent không cam kết vay khi chỉ đủ Tầng A.\",\"source_refs\":[\"noxh_nd_100_2024:article_48\",\"noxh_luat_nha_o_2023:article_77\"],\"usage_rule\":\"Chi tiết: noxh-loan-nhcsxh-counseling.md\",\"risk_level\":\"high\"},{\"claim_id\":\"noxh_loan_nhcsxh_conditions_001\",\"claim\":\"Vay mua/thuê mua NOXH tại NHCSXH (NĐ 100 Đ.48 k1): đối tượng k1,4,5,6,7,8 Đ.76; phải có thu nhập và khả năng trả nợ; giấy đề nghị vay; hợp đồng mua/thuê mua với CĐT; bảo đảm bằng tài sản hình thành từ vốn vay (HĐ ba bên NH-CĐT-người vay). Đối tượng k2,k3 Đ.76 mua theo Đ.77 k1 cũng được vay theo Đ.48.\",\"source_refs\":[\"noxh_nd_100_2024:article_48\"],\"usage_rule\":\"Cần HĐ CĐT trước khi giải ngân — không chốt nếu chưa có HĐ\",\"risk_level\":\"high\"},{\"claim_id\":\"noxh_loan_nhcsxh_limit_80pct_001\",\"claim\":\"Mức vốn cho vay mua/thuê mua NOXH tại NHCSXH tối đa 80% giá trị hợp đồng mua/thuê mua; người vay cần tối thiểu khoảng 20% vốn tự có (NĐ 100 Đ.48 k3a). Thời hạn vay tối đa 25 năm từ ngày giải ngân đầu tiên, thỏa thuận theo khả năng trả nợ.\",\"source_refs\":[\"noxh_nd_100_2024:article_48:k3\",\"noxh_nd_100_2024:article_48:k5\"],\"usage_rule\":\"Không kết luận chắc chắn đủ điều kiện.\",\"risk_level\":\"high\"},{\"claim_id\":\"noxh_loan_gov_support_mechanism_001\",\"claim\":\"Chính sách hỗ trợ cho vay ưu đãi NOXH: Nhà nước bố trí nguồn vốn qua NHCSXH (Đ.50 NĐ 100) — với đối tượng mua/thuê mua khoản 5 Đ.77 Luật Nhà ở thường NSNN cấp khoảng 50% vốn KHTĐT công, NHCSXH huy động khoảng 50%, NSNN cấp bù chênh lệch lãi suất và phí quản lý. NHCSXH được huy động tiền gửi tiết kiệm người mua NOXH để cho vay (Đ.46 k4). Một người/hộ chỉ áp dụng một chính sách vay hỗ trợ mức cao nhất (Đ.46 k1-k2).\",\"source_refs\":[\"noxh_nd_100_2024:article_46\",\"noxh_nd_100_2024:article_50\",\"noxh_luat_nha_o_2023:article_77\"],\"usage_rule\":\"Không nhầm cấp bù lãi suất với miễn trả lãi cho người vay\",\"risk_level\":\"medium\"},{\"claim_id\":\"noxh_loan_designated_credit_institution_001\",\"claim\":\"Ngoài NHCSXH, vay ưu đãi mua/thuê mua NOXH có thể qua tổ chức tín dụng do Nhà nước chỉ định (NĐ 100 Đ.49) theo chương trình tín dụng Chính phủ/Thủ tướng từng thời kỳ — lãi suất và điều kiện không mặc định bằng 5,4% như NHCSXH.\",\"source_refs\":[\"noxh_nd_100_2024:article_49\"],\"usage_rule\":\"Đối chiếu thông báo dự án nếu vay qua NH liên kết\",\"risk_level\":\"medium\"},{\"claim_id\":\"bank_cic_credit_history_001\",\"claim\":\"CIC (TT 15/2023) lưu lịch sử tín dụng; ngân hàng tra CIC trước khi cho vay. Điểm tín dụng/chấm điểm CIC là công cụ tham khảo — không có ngưỡng điểm quốc gia bắt buộc; mỗi TCTD tự quyết theo quy chế nội bộ (TT 39/2016). Khách nên tự tra CIC trước khi vay.\",\"source_refs\":[\"bank_tt_15_2023\",\"bank_tt_39_2016\"],\"usage_rule\":\"Chi tiết: bank-credit-appraisal-counseling.md\",\"risk_level\":\"medium\"}],\"forbidden_claims\":[\"Lãi suất NOXH cố định 5,4% mãi mãi\",\"Mọi ngân hàng đều 5,4%\",\"Đủ điều kiện NOXH chắc chắn được vay\",\"CĐT duyệt là ngân hàng tự động duyệt vay\",\"Vay NOXH không cần hợp đồng chủ đầu tư\",\"Mọi đối tượng Đ.76 đều vay NHCSXH\",\"Vay 100% giá căn NOXH tại NHCSXH\",\"Mọi khoản vay đều 25 năm cố định\",\"Nhà nước trả hết lãi vay NOXH thay người mua\",\"Không cần vốn tự có vì có hỗ trợ Chính phủ\",\"Mọi ngân hàng thương mại đều cho vay 5,4%\",\"NH liên kết dự án = tự động là vay chính sách\"],\"disclaimer_required\":true,\"needs_human_legal_source\":false}},\"query_resolver_note\":\"Use buildPackFromQuery locally; n8n uses segment/topic keys\"};\n\nfunction resolvePackFromBundle(segment, text) {\n  const topic = segmentToLegalTopic(segment);\n  if (!topic) return null;\n\n  const bySegment = LEGAL_PACK_BUNDLE.packs_by_segment || {};\n  const byTopic = LEGAL_PACK_BUNDLE.packs_by_topic || {};\n  let pack = bySegment[segment] || byTopic[topic];\n  if (!pack) return null;\n\n  const province = detectProvinceFromText(text);\n  if (province && Array.isArray(LEGAL_PACK_BUNDLE.packs_by_topic)) {\n    // no-op: province-specific packs use topic_local keys when present\n  }\n  const localKey = province ? `${topic}__${province}` : null;\n  if (localKey && byTopic[localKey]) {\n    pack = byTopic[localKey];\n  }\n\n  return JSON.parse(JSON.stringify(pack));\n}\n\nfunction assessLegalGate(segment, pack) {\n  const required = segmentRequiresLegalKb(segment);\n  if (!required) {\n    return { required: false, pass: true, block_reason: null };\n  }\n  if (!pack) {\n    return {\n      required: true,\n      pass: false,\n      block_reason: 'MISSING_LEGAL_PACK',\n      needs_human_legal_source: true,\n    };\n  }\n  if (pack.needs_human_legal_source === true) {\n    return {\n      required: true,\n      pass: false,\n      block_reason: 'NEEDS_HUMAN_LEGAL_SOURCE',\n      needs_human_legal_source: true,\n    };\n  }\n  if (!Array.isArray(pack.facts) || pack.facts.length === 0) {\n    return {\n      required: true,\n      pass: false,\n      block_reason: 'EMPTY_LEGAL_FACTS',\n      needs_human_legal_source: true,\n    };\n  }\n  return {\n    required: true,\n    pass: true,\n    block_reason: null,\n    needs_human_legal_source: false,\n    fact_count: pack.facts.length,\n  };\n}\n\nfunction buildMinimalBlockedPack(segment, reason) {\n  return {\n    topic: segmentToLegalTopic(segment) || 'unknown',\n    intent: 'short_legal_explainer',\n    facts: [],\n    forbidden_claims: DEFAULT_FORBIDDEN,\n    disclaimer_required: true,\n    needs_human_legal_source: true,\n    block_reason: reason,\n  };\n}\n\n\nconst row = $('Loop Brief Candidates').item?.json || $input.first().json;\nconst segment = String(row.segment || '').trim().toLowerCase();\nconst text = String(row.text || '');\n\nif (!segmentRequiresLegalKb(segment)) {\n  return [{\n    json: {\n      ...row,\n      legal_gate: { required: false, pass: true },\n      legal_retrieval_pack: null,\n    },\n  }];\n}\n\nlet pack = resolvePackFromBundle(segment, text);\nconst gate = assessLegalGate(segment, pack);\n\nif (!pack && !gate.pass) {\n  pack = buildMinimalBlockedPack(segment, gate.block_reason);\n}\n\nreturn [{\n  json: {\n    ...row,\n    legal_retrieval_pack: pack,\n    legal_gate: gate,\n    legal_topic: segmentToLegalTopic(segment),\n  },\n}];"
      },
      "id": "eb07blegal",
      "name": "Attach Legal Pack",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1320,
        240
      ]
    },
    {
      "parameters": {
        "jsCode": "const MAGNIX_LLM_DEFAULTS = {\"classify\":\"deepseek\",\"editorial_brief\":\"deepseek\",\"outreach\":\"deepseek\",\"video_draft\":\"deepseek\",\"carousel_draft\":\"deepseek\",\"content_draft\":\"anthropic\",\"content_draft_general\":\"deepseek\",\"content_qa\":\"anthropic\"};\r\n\r\nfunction hasLlmKey(raw) {\r\n  return String(raw || '').trim().length > 12;\r\n}\r\n\r\nfunction envProvider(taskId) {\r\n  const key = `MAGNIX_LLM_${String(taskId || '')\r\n    .toUpperCase()\r\n    .replace(/[^A-Z0-9]/g, '_')}_PROVIDER`;\r\n  const v = String($env[key] || '').trim().toLowerCase();\r\n  if (v === 'deepseek' || v === 'anthropic') return v;\r\n  return null;\r\n}\r\n\r\nfunction resolveProvider(taskId) {\r\n  return envProvider(taskId) || MAGNIX_LLM_DEFAULTS[taskId] || 'deepseek';\r\n}\r\n\r\nfunction hasProvider(provider) {\r\n  if (provider === 'anthropic') return hasLlmKey($env.ANTHROPIC_API_KEY);\r\n  return hasLlmKey($env.DEEPSEEK_API_KEY);\r\n}\r\n\r\nfunction anthropicModelForTask(taskId) {\r\n  if (taskId === 'classify') {\r\n    return $env.ANTHROPIC_CLASSIFY_MODEL || 'claude-haiku-4-5-20251001';\r\n  }\r\n  if (taskId === 'video_draft') {\r\n    return $env.ANTHROPIC_VIDEO_MODEL || $env.ANTHROPIC_DRAFT_MODEL || 'claude-sonnet-4-6';\r\n  }\r\n  return $env.ANTHROPIC_DRAFT_MODEL || $env.ANTHROPIC_MODEL || 'claude-sonnet-4-6';\r\n}\r\n\r\nasync function callDeepSeekLlm(ctx, opts) {\r\n  const {\r\n    system,\r\n    userPayload,\r\n    temperature = 0.35,\r\n    maxTokens = 4096,\r\n    jsonMode = true,\r\n  } = opts;\r\n  return ctx.helpers.httpRequest({\r\n    method: 'POST',\r\n    url: $env.DEEPSEEK_API_URL || 'https://api.deepseek.com/chat/completions',\r\n    headers: {\r\n      Authorization: `Bearer ${$env.DEEPSEEK_API_KEY}`,\r\n      'Content-Type': 'application/json',\r\n    },\r\n    body: {\r\n      model: $env.DEEPSEEK_MODEL || 'deepseek-chat',\r\n      temperature,\r\n      max_tokens: maxTokens,\r\n      ...(jsonMode ? { response_format: { type: 'json_object' } } : {}),\r\n      messages: [\r\n        { role: 'system', content: system },\r\n        { role: 'user', content: userPayload },\r\n      ],\r\n    },\r\n    json: true,\r\n  });\r\n}\r\n\r\nasync function callAnthropicLlm(ctx, opts) {\r\n  const {\r\n    system,\r\n    userPayload,\r\n    temperature = 0.35,\r\n    maxTokens = 4096,\r\n    taskId = 'content_draft',\r\n  } = opts;\r\n  return ctx.helpers.httpRequest({\r\n    method: 'POST',\r\n    url: 'https://api.anthropic.com/v1/messages',\r\n    headers: {\r\n      'x-api-key': $env.ANTHROPIC_API_KEY,\r\n      'anthropic-version': '2023-06-01',\r\n      'Content-Type': 'application/json',\r\n    },\r\n    body: {\r\n      model: anthropicModelForTask(taskId),\r\n      max_tokens: maxTokens,\r\n      temperature,\r\n      system,\r\n      messages: [{ role: 'user', content: userPayload }],\r\n    },\r\n    json: true,\r\n  });\r\n}\r\n\r\nasync function invokeMagnixLlm(ctx, taskId, opts) {\r\n  const primary = resolveProvider(taskId);\r\n  const fallback = primary === 'deepseek' ? 'anthropic' : 'deepseek';\r\n  const errors = [];\r\n\r\n  for (const provider of [primary, fallback]) {\r\n    if (!hasProvider(provider)) continue;\r\n    try {\r\n      if (provider === 'deepseek') {\r\n        return await callDeepSeekLlm(ctx, opts);\r\n      }\r\n      return await callAnthropicLlm(ctx, { ...opts, taskId });\r\n    } catch (e) {\r\n      errors.push(`${provider}: ${e.message}`);\r\n    }\r\n  }\r\n\r\n  if (!hasProvider('deepseek') && !hasProvider('anthropic')) {\r\n    throw new Error('Thiếu DEEPSEEK_API_KEY hoặc ANTHROPIC_API_KEY trên n8n env');\r\n  }\r\n  throw new Error(errors.join(' | ') || 'LLM providers failed');\r\n}\n\nconst CONTEXT_STORE = {\"version\":1,\"min_cluster_size\":8,\"generated_at\":\"2026-06-28T10:38:26.064Z\",\"generated_by\":\"run-context-enrichment.mjs\",\"by_content_type\":{\"NOXH_LEGAL\":{\"status\":\"ready\",\"post_count\":2184,\"sample_post_ids\":[\"1478144464114896\",\"1629991639134487\",\"1629988232468161\",\"1629984252468559\",\"1478308700765139\",\"1478329794096363\",\"1478582554071087\",\"1478574497405226\",\"1478598010736208\",\"1,47863E+15\",\"1478181040777905\",\"1477923680803641\",\"1478014550794554\",\"1629977452469239\",\"1629977102469274\",\"1629964552470529\",\"1478043007458375\",\"1478093530786656\",\"1477756850820324\",\"1477764774152865\"],\"context_summary\":{\"top_questions\":[\"Khi nào bốc thăm NOXH Kim Chung?\",\"Cách kê khai mẫu 02 trên dịch vụ công?\",\"Vợ nội trợ/chồng XKLĐ xin xác nhận thu nhập thế nào?\"],\"pains\":[\"Không rõ quy trình, thủ tục hành chính phức tạp\",\"Lo lắng về điều kiện vay vốn ngân hàng chính sách\",\"Băn khoăn về quy định sang nhượng sau 5 năm\"],\"audience_voice\":\"Các bác cho em hỏi, hồ sơ em được duyệt rồi mà không đủ tiền mua thì có chuyển cho người khác được không ạ?\",\"hook_angles\":[]},\"classify_method_stats\":{\"keyword_rules\":1798,\"segment_default\":209,\"segment_tiebreak\":177}},\"LOAN_FINANCE\":{\"status\":\"ready\",\"post_count\":251,\"sample_post_ids\":[\"1,47816E+15\",\"1478170604112282\",\"1478461750749834\",\"1628941122572872\",\"1472571471338862\",\"1628499149283736\",\"1628450932621891\",\"1470944978168178\",\"1471017911494218\",\"1470188204910522\",\"1628050302661954\",\"1627189669414684\",\"1,28394E+15\",\"1283763170591393\",\"3983188018654482\",\"1280442424256801\",\"1279771670990543\",\"1279609427673434\",\"1279591631008547\",\"1278809757753401\"],\"context_summary\":{\"top_questions\":[\"Lãi suất vay ngân hàng thương mại có thay đổi sau thời gian ưu đãi không?\",\"Thủ tục vay Ngân hàng Chính sách Xã hội có phức tạp không?\",\"Nếu không vay được ngân hàng thì có mất cọc khi mua NOXH không?\"],\"pains\":[\"Lãi suất vay thay đổi bất ngờ, không minh bạch\",\"Thủ tục vay NHCSXH rườm rà, chờ đợi lâu\",\"Lo sợ không được duyệt vay sau khi ký hợp đồng mua bán\"],\"audience_voice\":\"Em cứ sợ lỡ ký hợp đồng mua bán rồi, mà ngân hàng ko cho vay thì sao?\",\"hook_angles\":[]},\"classify_method_stats\":{\"keyword_rules\":239,\"segment_default\":12}},\"VALUATION\":{\"status\":\"ready\",\"post_count\":28,\"sample_post_ids\":[\"1467337868528889\",\"1488378866178389\",\"3426121380871081\",\"3419557931527426\",\"3,41753E+15\",\"3412684082214811\",\"3411661008983785\",\"1,52675E+15\",\"1479362973940494\",\"1294572895739902\",\"3549554815199477\",\"3549497625205196\",\"3549496995205259\",\"3549115128576779\",\"3547489012072724\",\"3546291802192445\",\"3545811412240484\",\"3544752712346354\",\"3543284662493159\",\"4799386590284486\"],\"context_summary\":{\"top_questions\":[\"Nhà phố bị quy hoạch thì được đền bù thế nào? Có được mua chung cư tương đương số tiền đền bù không?\",\"Ngân hàng nào định giá cao và cho vay cao? Cần vay 10 tỷ, phí bao nhiêu?\",\"Nhà hẻm nhỏ có dễ bán lại không? Ngân hàng có định giá dễ không?\"],\"pains\":[\"Lo lắng về giá trị đền bù khi bị quy hoạch, không rõ quyền lợi.\",\"Khó tìm ngân hàng định giá cao để vay được nhiều, sợ bị từ chối hoặc phí cao.\",\"Băn khoăn tính thanh khoản của nhà hẻm nhỏ, sợ mua vào khó bán.\"],\"audience_voice\":\"Em cần ngân hàng định giá cao và vay cao, không phải vay bỏ sổ đâu nha!\",\"hook_angles\":[]},\"classify_method_stats\":{\"segment_default\":1,\"keyword_rules\":23,\"segment_tiebreak\":4}},\"GENERAL_POLICY\":{\"status\":\"ready\",\"post_count\":686,\"sample_post_ids\":[\"1477921720803837\",\"1629951502471834\",\"1629109295889388\",\"1629045012562483\",\"1472610144668328\",\"1,62831E+15\",\"1,62814E+15\",\"1627978249335826\",\"1467561615173181\",\"1280420350925675\",\"1278781631089547\",\"1278779761089734\",\"1,27793E+15\",\"1630046782462306\",\"1275340884766955\",\"1273757241591986\",\"1283986143903354\",\"1283926963909272\",\"3976637855976165\",\"1281967937438508\"],\"context_summary\":{\"top_questions\":[\"Thủ tục mua NƠXH có cần bảng lương 12 tháng không?\",\"Dự án Ecohome 3, CT3 Kim Chung, Bảo Ngọc City Cổ Linh đã có lịch bốc thăm/mở bán chưa?\",\"Giấy cam kết chưa hưởng chính sách xã hội làm ở UBND phường hay văn phòng đăng ký đất đai?\"],\"pains\":[\"Thiếu thông tin minh bạch về tiến độ và lịch bốc thăm dự án NƠXH.\",\"Quy trình thủ tục hành chính rườm rà, hướng dẫn không nhất quán giữa các cơ quan.\",\"Lo lắng về cơ hội mua nhà khi đối tượng ưu tiên (cán bộ, công chức) được ưu đãi không qua bốc thăm.\"],\"audience_voice\":\"Các bác ơi giờ làm hồ sơ mua NƠXH là không cần bảng lương 12 tháng nữa ạ? nếu quy định là không cần nhưng mình cứ chuẩn bị rồi kèm vào nộp thì khả năng đạt có cao hơn không ạ?\",\"hook_angles\":[]},\"classify_method_stats\":{\"keyword_rules\":76,\"segment_default\":610}}}};\nconst CONTENT_TYPE_RULES = {\"version\":1,\"min_cluster_size\":8,\"llm_score_band\":{\"min\":40,\"max\":59},\"segment_default\":{\"noxh_income\":\"NOXH_LEGAL\",\"sme_credit\":\"LOAN_FINANCE\",\"valuation\":\"VALUATION\",\"general_inbound\":\"GENERAL_POLICY\",\"unclassified\":\"GENERAL_POLICY\"},\"keyword_rules\":[{\"content_type\":\"NOXH_LEGAL\",\"patterns\":[\"noxh\",\"nhà ở xã hội\",\"nha o xa hoi\",\"hồ sơ noxh\",\"mẫu 01\",\"mau 01\",\"thu nhập\",\"điều kiện mua\",\"đối tượng mua\",\"ct07\",\"cư trú\"],\"weight\":3},{\"content_type\":\"LOAN_FINANCE\",\"patterns\":[\"dti\",\"dòng tiền\",\"dong tien\",\"room vay\",\"lãi suất\",\"hạn mức\",\"vay mua nhà\",\"ngân hàng\",\"nhcsxh\",\"cic\",\"nợ xấu\"],\"weight\":3},{\"content_type\":\"VALUATION\",\"patterns\":[\"định giá\",\"dinh gia\",\"thẩm định\",\"tham dinh\",\"chứng thư\",\"giá trị tài sản\",\"đơn giá\"],\"weight\":3},{\"content_type\":\"GENERAL_POLICY\",\"patterns\":[\"quy định\",\"nghị định\",\"thông tư\",\"chính sách\",\"cập nhật\",\"tp.hcm\",\"bình dương\"],\"weight\":2}],\"archive_exclude_sources\":[\"editorial_calendar\",\"magnix_editorial\"],\"archive_exclude_key_prefixes\":[\"editorial:queue:\",\"editorial:page:\"]};\n\nfunction resolveEnrichmentContentType(segment, contentType) {\n  const types = new Set(['NOXH_LEGAL', 'LOAN_FINANCE', 'VALUATION', 'GENERAL_POLICY']);\n  const raw = String(contentType || '').toUpperCase();\n  if (types.has(raw)) return raw;\n  const map = CONTENT_TYPE_RULES.segment_default || {};\n  return map[String(segment || '').toLowerCase()] || 'GENERAL_POLICY';\n}\n\nfunction buildContextEnrichment(segment, contentType) {\n  const ct = resolveEnrichmentContentType(segment, contentType);\n  const entry = CONTEXT_STORE.by_content_type?.[ct] || {};\n  const summary = entry.status === 'ready' ? entry.context_summary : null;\n  return {\n    content_type: ct,\n    context_enrichment_status: summary ? 'ready' : (entry.status || 'waiting_for_context'),\n    context_summary: summary,\n  };\n}\n\nconst row = $('Loop Brief Candidates').item?.json || $input.first().json;\n\nconst system = `Bạn là **Magnix Editorial Strategist** — biên tập inbound BĐS/tài chính VN, Value-First Hook, không hard sell.\n\n**[/silent]** suy luận nội bộ. Output **chỉ JSON hợp lệ**.\n\n## Input bạn nhận\n\n- \\`intake_v1\\` — pain intake đã parse (câu hỏi, fears, quotes…)\n- \\`segment\\`, \\`platform\\`, \\`score\\`, \\`text\\` gốc (reference)\n- (optional) \\`pattern_refs\\` — hook/pattern từ scorecard (có thể rỗng)\n- **\\`legal_retrieval_pack\\`** — khi \\`requires_legal_kb: true\\`: facts, forbidden_claims, disclaimer (bắt buộc tuân)\n- **\\`context_summary\\`** (optional) — cluster archive cùng \\`content_type\\`: \\`top_questions\\`, \\`pains\\`, \\`audience_voice\\`, \\`hook_angles\\`. Nếu \\`context_enrichment_status=waiting_for_context\\` → bỏ qua, chỉ dùng intake.\n\n## Nhiệm vụ\n\n1. Chọn **một góc editorial** duy nhất (một clip = một insight).\n2. Xây \\`qa_backbone\\` — 2–4 cặp Q&A (câu hỏi search + góc trả lời, không hứa lãi/duyệt chắc).\n3. Đề xuất \\`recommended_formats\\` (video_30s ưu tiên nếu platform video).\n4. \\`deconstruct_rules\\` — không copy đối thủ, compliance Magnix.\n5. \\`editorial_title\\` — tiêu đề nội bộ ≤80 ký tự.\n6. Nếu có \\`legal_retrieval_pack\\`: mỗi \\`answer_angle\\` khớp fact trong pack; \\`source_refs\\` = \\`claim_id\\`.\n\n## Quy tắc Q&A\n\n- Mỗi \\`question\\` phải bắt nguồn từ \\`explicit_questions\\` hoặc pain trong intake.\n- Mỗi \\`answer_angle\\` = **góc trả lời** (reframe, checklist, DTI…) — không phải script đọc.\n- \\`search_keyword\\` — từ khóa pain cho SEO/Shorts (tiếng Việt, tự nhiên).\n\n## Platform\n\n| platform | format ưu tiên |\n|----------|----------------|\n| tiktok, fb_reels, youtube_shorts | video_30s priority 1 |\n| fb_page | carousel hoặc video_45s |`;\n\nfunction normPlatform(raw) {\n  const key = String(raw || 'tiktok').trim().toLowerCase();\n  const map = {\n    tt: 'tiktok',\n    fb: 'fb_reels',\n    fb_group: 'fb_reels',\n    fb_page: 'fb_reels',\n    reels: 'fb_reels',\n    shorts: 'youtube_shorts',\n  };\n  return map[key] || key;\n}\n\nconst legalPack = row.legal_retrieval_pack || null;\nconst legalGate = row.legal_gate || { required: false, pass: true };\nconst enrichment = buildContextEnrichment(row.segment, row.meta_parsed?.content_type);\n\nconst userPayload = JSON.stringify({\n  normalized_key: row.normalized_key,\n  platform: row.platform,\n  target_platform: normPlatform(row.platform),\n  segment: row.segment,\n  score: Number(row.score || 0),\n  text: String(row.text || '').slice(0, 8000),\n  intake_v1: row.intake_v1 || row.meta_parsed?.intake_v1,\n  pattern_refs: row.meta_parsed?.pattern_refs || [],\n  legal_retrieval_pack: legalPack,\n  legal_gate: legalGate,\n  requires_legal_kb: legalGate.required === true,\n  content_type: enrichment.content_type,\n  context_enrichment_status: enrichment.context_enrichment_status,\n  context_summary: enrichment.context_summary,\n});\n\ntry {\n  const res = await invokeMagnixLlm(this, 'editorial_brief', {\n    system,\n    userPayload,\n    temperature: 0.35,\n    maxTokens: 4096,\n    jsonMode: true,\n  });\n  return [{ json: res }];\n} catch (e) {\n  return [{ json: { error: true, message: e.message } }];\n}"
      },
      "id": "eb08llm",
      "name": "LLM Editorial Brief",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1560,
        240
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "c1",
              "leftValue": "={{ $json.error }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "eb09ifllm",
      "name": "IF LLM OK",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1680,
        240
      ]
    },
    {
      "parameters": {
        "jsCode": "function extractJsonString(raw) {\n  if (raw == null) throw new Error('EMPTY_LLM_OUTPUT');\n  const s = typeof raw === 'string' ? raw : JSON.stringify(raw);\n  const fenced = s.match(/```(?:json)?\\s*([\\s\\S]*?)```/i);\n  let t = (fenced ? fenced[1] : s).trim();\n  const start = t.indexOf('{');\n  const end = t.lastIndexOf('}');\n  if (start >= 0 && end > start) t = t.slice(start, end + 1);\n  return t;\n}\n\nfunction parseJsonLoose(text) {\n  const attempts = [\n    text,\n    text.replace(/[\\u201C\\u201D\\u2018\\u2019]/g, '\"'),\n    text.replace(/,\\s*([}\\]])/g, '$1'),\n  ];\n  let lastErr;\n  for (const candidate of attempts) {\n    try {\n      return JSON.parse(candidate);\n    } catch (e) {\n      lastErr = e;\n    }\n  }\n  throw lastErr || new Error('JSON_PARSE_FAIL');\n}\n\nconst row = $('Loop Brief Candidates').item?.json || {};\nconst res = $input.first().json;\nconst raw =\n  res.choices?.[0]?.message?.content ??\n  res.content?.[0]?.text ??\n  res.message?.content ??\n  res;\n\ntry {\n  const parsed = parseJsonLoose(extractJsonString(raw));\n  if (!parsed.editorial_title || !String(parsed.editorial_title).trim()) {\n    throw new Error('MISSING_EDITORIAL_TITLE');\n  }\n  if (!Array.isArray(parsed.qa_backbone) || parsed.qa_backbone.length < 2) {\n    throw new Error('INSUFFICIENT_QA_BACKBONE');\n  }\n\n  const qa = parsed.qa_backbone.slice(0, 5).map((q) => ({\n    question: String(q.question || '').slice(0, 300),\n    answer_angle: String(q.answer_angle || '').slice(0, 500),\n    search_keyword: String(q.search_keyword || '').slice(0, 120),\n    hook_line: String(q.hook_line || '').slice(0, 120),\n  }));\n\n  const brief = {\n    brief_version: Number(parsed.brief_version || 1),\n    editorial_title: String(parsed.editorial_title).slice(0, 80),\n    one_line_insight: String(parsed.one_line_insight || '').slice(0, 500),\n    qa_backbone: qa,\n    recommended_formats: Array.isArray(parsed.recommended_formats)\n      ? parsed.recommended_formats.slice(0, 4)\n      : [],\n    deconstruct_rules: Array.isArray(parsed.deconstruct_rules)\n      ? parsed.deconstruct_rules.map(String).slice(0, 8)\n      : [],\n    cta_keyword: String(parsed.cta_keyword || 'CHECKLIST').slice(0, 40),\n    compliance_notes: String(parsed.compliance_notes || '').slice(0, 1000),\n    source_refs: Array.isArray(parsed.source_refs)\n      ? parsed.source_refs.map(String).slice(0, 5)\n      : [String(row.normalized_key || '')],\n    interest_key: String(parsed.interest_key || row.interest_key || 'unknown')\n      .slice(0, 80)\n      .toLowerCase()\n      .replace(/[^a-z0-9_]/g, '_'),\n    created_at: new Date().toISOString(),\n  };\n\n  const legalPack = row.legal_retrieval_pack || null;\n  if (legalPack) {\n    brief.legal_retrieval_pack = legalPack;\n    brief.legal_topic = row.legal_topic || null;\n  }\n  if (row.legal_gate?.needs_human_legal_source) {\n    brief.compliance_notes = `${brief.compliance_notes || ''} [LEGAL_GATE: needs_human_legal_source]`.trim();\n  }\n\n  return [{\n    json: {\n      ok: true,\n      sheet_row: row.sheet_row,\n      normalized_key: row.normalized_key,\n      editorial_brief_v1: brief,\n      interest_key: brief.interest_key,\n      existing_meta: row.meta_parsed || {},\n      legal_retrieval_pack: legalPack,\n      legal_gate: row.legal_gate || null,\n    },\n  }];\n} catch (e) {\n  return [{ json: { ok: false, parse_error: e.message, sheet_row: row.sheet_row } }];\n}"
      },
      "id": "eb10parse",
      "name": "Parse Editorial Brief JSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1920,
        160
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "c1",
              "leftValue": "={{ $json.ok }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "eb11ifparse",
      "name": "IF Parse OK",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2160,
        160
      ]
    },
    {
      "parameters": {
        "jsCode": "const SHEET_ID = '1fYB4h_BTiKXa9O3lBah-tQonWpQOQMG2aSkSfPs6yU4';\nconst TAB = 'content_queue';\n\nconst item = $input.first().json;\nif (!item.ok || !item.editorial_brief_v1 || !item.sheet_row) {\n  return [{ json: { ok: false, skip: true, reason: item.parse_error || 'NO_BRIEF' } }];\n}\n\nconst row = item.sheet_row;\n\nreturn [{\n  json: {\n    ok: true,\n    sheet_row: row,\n    normalized_key: item.normalized_key,\n    interest_key: item.interest_key,\n    editorial_brief_v1: item.editorial_brief_v1,\n    legal_retrieval_pack: item.legal_retrieval_pack || null,\n    legal_gate: item.legal_gate || null,\n    existing_meta: item.existing_meta || {},\n    get_meta_url: `https://sheets.googleapis.com/v4/spreadsheets/${SHEET_ID}/values/${encodeURIComponent(`${TAB}!O${row}`)}`,\n    put_meta_url: `https://sheets.googleapis.com/v4/spreadsheets/${SHEET_ID}/values/${encodeURIComponent(`${TAB}!O${row}`)}?valueInputOption=USER_ENTERED`,\n    put_interest_url: `https://sheets.googleapis.com/v4/spreadsheets/${SHEET_ID}/values/${encodeURIComponent(`${TAB}!J${row}`)}?valueInputOption=USER_ENTERED`,\n  },\n}];"
      },
      "id": "eb12prep",
      "name": "Prepare Meta Update",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2400,
        80
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $json.get_meta_url }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleApi",
        "options": {}
      },
      "id": "eb13get",
      "name": "HTTP GET queue meta",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2640,
        80
      ]
    },
    {
      "parameters": {
        "jsCode": "const prep = $('Prepare Meta Update').item?.json || $input.first().json || {};\nconst getRes = $input.first().json || {};\n\nif (!prep.ok || !prep.editorial_brief_v1) {\n  return [{ json: { ok: false, skip: true } }];\n}\n\nlet fromSheet = {};\ntry {\n  const cell = getRes.values?.[0]?.[0];\n  if (cell) fromSheet = JSON.parse(cell);\n} catch {\n  fromSheet = {};\n}\n\nconst prepMeta = prep.existing_meta || {};\nconst existing = { ...fromSheet, ...prepMeta };\n\nconst meta = {\n  ...existing,\n  editorial_brief_v1: prep.editorial_brief_v1,\n  editorial_brief_at: new Date().toISOString(),\n};\nif (prep.legal_retrieval_pack) {\n  meta.legal_retrieval_pack = prep.legal_retrieval_pack;\n  meta.legal_retrieval_pack_at = new Date().toISOString();\n}\nif (prep.legal_gate) {\n  meta.legal_gate = prep.legal_gate;\n}\nif (prepMeta.intake_v1 && !fromSheet.intake_v1) {\n  meta.intake_v1_from = meta.intake_v1_from || 'stub_layer_b';\n}\n\nconst metaStr = JSON.stringify(meta).slice(0, 50000);\n\nreturn [{\n  json: {\n    ok: true,\n    put_meta_url: prep.put_meta_url,\n    put_interest_url: prep.put_interest_url,\n    meta_body: { values: [[metaStr]] },\n    interest_body: { values: [[prep.interest_key || 'unknown']] },\n    sheet_row: prep.sheet_row,\n    normalized_key: prep.normalized_key,\n  },\n}];"
      },
      "id": "eb14merge",
      "name": "Merge Meta Brief",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2880,
        80
      ]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "={{ $json.put_meta_url }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.meta_body) }}",
        "options": {}
      },
      "id": "eb15putmeta",
      "name": "HTTP PUT queue meta",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3120,
        80
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "={{ $(\"Merge Meta Brief\").item.json.put_interest_url }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($(\"Merge Meta Brief\").item.json.interest_body) }}",
        "options": {}
      },
      "id": "eb16putinterest",
      "name": "HTTP PUT interest_key",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3360,
        80
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const item = $('Merge Meta Brief').item?.json || $input.first().json || {};\nconst data = $getWorkflowStaticData('global');\nif (!data.eb_stats) data.eb_stats = { brief_ok: 0, brief_fail: 0, sheet_fail: 0 };\n\nif (item.ok && item.normalized_key) {\n  data.eb_stats.brief_ok = (data.eb_stats.brief_ok || 0) + 1;\n} else {\n  data.eb_stats.sheet_fail = (data.eb_stats.sheet_fail || 0) + 1;\n}\n\nreturn [{\n  json: {\n    ok: true,\n    sheet_row: item.sheet_row,\n    normalized_key: item.normalized_key,\n  },\n}];"
      },
      "id": "eb17track",
      "name": "Track Brief OK",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3600,
        80
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = $getWorkflowStaticData('global');\nif (!data.eb_stats) data.eb_stats = {};\ndata.eb_stats.llm_fail = (data.eb_stats.llm_fail || 0) + 1;\ndata.eb_stats.brief_fail = (data.eb_stats.brief_fail || 0) + 1;\nreturn $input.all();"
      },
      "id": "eb18llmfail",
      "name": "Track LLM Fail",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1680,
        360
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = $getWorkflowStaticData('global');\nif (!data.eb_stats) data.eb_stats = {};\ndata.eb_stats.parse_fail = (data.eb_stats.parse_fail || 0) + 1;\ndata.eb_stats.brief_fail = (data.eb_stats.brief_fail || 0) + 1;\nreturn $input.all();"
      },
      "id": "eb19parsefail",
      "name": "Track Parse Fail",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2400,
        240
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = $getWorkflowStaticData('global');\nconst stats = data.eb_stats || {};\nlet hint = null;\nif ((stats.brief_ok || 0) === 0) {\n  if (stats.no_candidates) hint = 'Không candidate — cần classified score≥70 + chưa editorial_brief_v1 (intake stub tự sinh nếu thiếu)';\n  else if ((stats.llm_fail || 0) > 0) hint = 'LLM fail — kiểm tra DEEPSEEK/ANTHROPIC key';\n  else if ((stats.parse_fail || 0) > 0) hint = 'Parse fail — xem node Parse Editorial Brief JSON';\n  else if ((stats.sheet_fail || 0) > 0) hint = 'Ghi Sheet fail — gán googleApi trên HTTP PUT nodes';\n}\nreturn [{ json: {\n  ok: true,\n  workflow: 'content-editorial-brief',\n  stats,\n  batch_size: 5,\n  hint,\n  finished_at: new Date().toISOString(),\n}}];"
      },
      "id": "eb20summary",
      "name": "Build Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3600,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = $getWorkflowStaticData('global');\nif (!data.eb_stats) data.eb_stats = {};\ndata.eb_stats.no_candidates = true;\nconst msg = $input.first()?.json?.message || 'No editorial brief candidates';\nreturn [{ json: { ok: true, empty: true, message: msg } }];"
      },
      "id": "eb21empty",
      "name": "No Candidates Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        720,
        420
      ]
    }
  ],
  "connections": {
    "Schedule Editorial Brief": {
      "main": [
        [
          {
            "node": "Fetch content_queue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking 'Execute workflow'": {
      "main": [
        [
          {
            "node": "Fetch content_queue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook editorial-brief": {
      "main": [
        [
          {
            "node": "Auth Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Auth Webhook": {
      "main": [
        [
          {
            "node": "Fetch content_queue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch content_queue": {
      "main": [
        [
          {
            "node": "Parse Filter Needs Brief",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Filter Needs Brief": {
      "main": [
        [
          {
            "node": "IF Has Candidates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Has Candidates": {
      "main": [
        [
          {
            "node": "Reset Run Stats",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Candidates Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reset Run Stats": {
      "main": [
        [
          {
            "node": "Loop Brief Candidates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Brief Candidates": {
      "main": [
        [
          {
            "node": "Build Summary",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Attach Legal Pack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Attach Legal Pack": {
      "main": [
        [
          {
            "node": "LLM Editorial Brief",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LLM Editorial Brief": {
      "main": [
        [
          {
            "node": "IF LLM OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF LLM OK": {
      "main": [
        [
          {
            "node": "Parse Editorial Brief JSON",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Track LLM Fail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Editorial Brief JSON": {
      "main": [
        [
          {
            "node": "IF Parse OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Parse OK": {
      "main": [
        [
          {
            "node": "Prepare Meta Update",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Track Parse Fail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Meta Update": {
      "main": [
        [
          {
            "node": "HTTP GET queue meta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP GET queue meta": {
      "main": [
        [
          {
            "node": "Merge Meta Brief",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Meta Brief": {
      "main": [
        [
          {
            "node": "HTTP PUT queue meta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP PUT queue meta": {
      "main": [
        [
          {
            "node": "HTTP PUT interest_key",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP PUT interest_key": {
      "main": [
        [
          {
            "node": "Track Brief OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Track Brief OK": {
      "main": [
        [
          {
            "node": "Loop Brief Candidates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Track LLM Fail": {
      "main": [
        [
          {
            "node": "Loop Brief Candidates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Track Parse Fail": {
      "main": [
        [
          {
            "node": "Loop Brief Candidates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Candidates Summary": {
      "main": [
        [
          {
            "node": "Build Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "magnix"
    },
    {
      "name": "layer-b"
    },
    {
      "name": "content-editorial-brief"
    }
  ],
  "meta": {
    "templateCredsSetupCompleted": false
  }
}