n8n-workflows/content-page-publish.workflow.json
{
  "name": "Magnix — Facebook Page Publish (content_drafts → Graph API)",
  "nodes": [
    {
      "parameters": {
        "content": "## Page Publish\n- **10h / 14h / 18h VN** · max **3**/lần\n- Input: `content_drafts` status=**approved**\n- meta: `target_channel=facebook_page`, `scheduled_at` (ISO)\n- Env: `CONTENT_PAGE_PUBLISH_ENABLED`, `META_PAGE_ID` (Page ID, **không** App ID), `META_PAGE_ACCESS_TOKEN` (Page token + `pages_manage_posts`)\n- **googleApi** bắt buộc trên Fetch + PUT/POST Sheet",
        "height": 220,
        "width": 480
      },
      "id": "cpp00note",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -480,
        160
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 10,14,18 * * *"
            }
          ]
        }
      },
      "id": "cpp01sched",
      "name": "Schedule Page Publish",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        200
      ]
    },
    {
      "parameters": {},
      "id": "cpp02manual",
      "name": "When clicking 'Execute workflow'",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        400
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://sheets.googleapis.com/v4/spreadsheets/1fYB4h_BTiKXa9O3lBah-tQonWpQOQMG2aSkSfPs6yU4/values/content_drafts!A%3AN",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleApi",
        "options": {}
      },
      "id": "cpp03fetch",
      "name": "Fetch content_drafts",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const BATCH = 3;\r\nconst TZ_OFFSET_MIN = 7 * 60; // Asia/Ho_Chi_Minh fallback khi parse scheduled_at không có offset\r\n\r\nfunction parseMeta(raw) {\r\n  if (!raw) return {};\r\n  try {\r\n    return typeof raw === 'string' ? JSON.parse(raw) : raw;\r\n  } catch {\r\n    return {};\r\n  }\r\n}\r\n\r\nfunction parseScheduledMs(value) {\r\n  const s = String(value || '').trim();\r\n  if (!s) return null;\r\n  const d = new Date(s);\r\n  if (Number.isNaN(d.getTime())) return null;\r\n  return d.getTime();\r\n}\r\n\r\nfunction nowMs() {\r\n  return Date.now();\r\n}\r\n\r\nconst enabled = String($env.CONTENT_PAGE_PUBLISH_ENABLED || '').toLowerCase() === 'true';\r\nif (!enabled) {\r\n  return [{\r\n    json: {\r\n      empty: true,\r\n      message: 'CONTENT_PAGE_PUBLISH_ENABLED không bật — set true trên VPS',\r\n    },\r\n  }];\r\n}\r\n\r\nconst pageId = String($env.META_PAGE_ID || '').trim();\r\nconst token = String($env.META_PAGE_ACCESS_TOKEN || '').trim();\r\nif (!pageId || !token) {\r\n  return [{\r\n    json: {\r\n      empty: true,\r\n      message: 'Thiếu META_PAGE_ID hoặc META_PAGE_ACCESS_TOKEN',\r\n    },\r\n  }];\r\n}\r\n\r\nconst res = $input.first().json;\r\nconst rows = Array.isArray(res.values) ? res.values : [];\r\nif (rows.length < 2) {\r\n  return [{ json: { empty: true, message: 'content_drafts trống' } }];\r\n}\r\n\r\nconst headers = rows[0].map((x) => String(x ?? '').trim().toLowerCase());\r\nconst out = [];\r\nconst blockers = {\r\n  not_approved: 0,\r\n  already_published: 0,\r\n  wrong_channel: 0,\r\n  wrong_format: 0,\r\n  not_due: 0,\r\n  empty_body: 0,\r\n};\r\n\r\nfor (let i = 1; i < rows.length; i++) {\r\n  const cells = rows[i];\r\n  if (!cells?.some((c) => String(c ?? '').trim())) continue;\r\n\r\n  const row = { sheet_row: i + 1 };\r\n  headers.forEach((key, j) => {\r\n    if (key) row[key] = cells[j] ?? '';\r\n  });\r\n\r\n  const status = String(row.status || '').trim().toLowerCase();\r\n  const meta = parseMeta(row.meta);\r\n\r\n  if (status !== 'approved') {\r\n    blockers.not_approved += 1;\r\n    continue;\r\n  }\r\n  if (meta.page_published === true || meta.fb_post_id) {\r\n    blockers.already_published += 1;\r\n    continue;\r\n  }\r\n\r\n  const channel = String(meta.target_channel || '').trim().toLowerCase();\r\n  const productType = String(row.product_type || '').trim().toLowerCase();\r\n  const wantsPage =\r\n    channel === 'facebook_page'\r\n    || channel === 'fb_page'\r\n    || productType === 'fb_page_post'\r\n    || meta.schedule_page_publish === true;\r\n\r\n  if (!wantsPage) {\r\n    blockers.wrong_channel += 1;\r\n    continue;\r\n  }\r\n\r\n  const fmt = String(meta.content_format || meta.product_type || 'fb_page_post').trim().toLowerCase();\r\n  const pagePublishFormats = new Set(['fb_page_post', 'fb_page_post_image']);\r\n  if (!pagePublishFormats.has(fmt)) {\r\n    blockers.wrong_format += 1;\r\n    continue;\r\n  }\r\n\r\n  const scheduledMs = parseScheduledMs(meta.scheduled_at);\r\n  if (scheduledMs != null && scheduledMs > nowMs()) {\r\n    blockers.not_due += 1;\r\n    continue;\r\n  }\r\n\r\n  const body =\r\n    String(meta.publish_body || '').trim()\r\n    || String(row.artifact_markdown || '').trim()\r\n    || String(row.hook_line || '').trim();\r\n\r\n  if (body.length < 40) {\r\n    blockers.empty_body += 1;\r\n    continue;\r\n  }\r\n\r\n  row.meta_parsed = meta;\r\n  row.page_id = pageId;\r\n  out.push({ json: row });\r\n  if (out.length >= BATCH) break;\r\n}\r\n\r\nif (!out.length) {\r\n  return [{\r\n    json: {\r\n      empty: true,\r\n      message: 'Không có bài Page due — cần status=approved, meta.target_channel=facebook_page, scheduled_at<=now',\r\n      blockers,\r\n    },\r\n  }];\r\n}\r\n\r\nreturn out;"
      },
      "id": "cpp04filter",
      "name": "Parse Filter Due Posts",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "c1",
              "leftValue": "={{ $json.empty }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "cpp05if",
      "name": "IF Has Candidates",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        720,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = $getWorkflowStaticData('global');\ndata.cpp_stats = { publish_ok: 0, publish_fail: 0, l0_fail: 0 };\nreturn $input.all();"
      },
      "id": "cpp06reset",
      "name": "Reset Run Stats",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        960,
        240
      ]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "cpp07loop",
      "name": "Loop Page Publish",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1200,
        240
      ]
    },
    {
      "parameters": {
        "jsCode": "const FORBIDDEN = [\r\n  /cam kết.*duyệt/i,\r\n  /lãi suất\\s*\\d+([.,]\\d+)?\\s*%/i,\r\n  /đảm bảo.*(vay|duyệt)/i,\r\n  /100%\\s*(thành công|duyệt)/i,\r\n];\r\n\r\nfunction stripMarkdownHeavy(md) {\r\n  return String(md || '')\r\n    .replace(/```[\\s\\S]*?```/g, '')\r\n    .replace(/\\|[-:\\s|]+\\|/g, '')\r\n    .replace(/\\|/g, ' ')\r\n    .replace(/#{1,6}\\s/g, '')\r\n    .replace(/\\*\\*/g, '')\r\n    .replace(/\\n{3,}/g, '\\n\\n')\r\n    .trim();\r\n}\r\n\r\nfunction excerpt(text, max = 6000) {\r\n  const t = String(text || '').trim();\r\n  if (t.length <= max) return t;\r\n  return `${t.slice(0, max - 1)}…`;\r\n}\r\n\r\nconst row = $('Loop Page Publish').item?.json || $input.first().json;\r\nconst meta = row.meta_parsed || {};\r\n\r\nconst hook = String(row.hook_line || meta.hook || '').trim();\r\nconst bodyRaw = String(meta.publish_body || row.artifact_markdown || '').trim();\r\nconst body = excerpt(stripMarkdownHeavy(bodyRaw), 5500);\r\nconst cta = String(row.cta_opt_in || meta.cta || '').trim();\r\nconst disclaimer = String(row.disclaimer || meta.disclaimer || '').trim();\r\nconst hashtags = Array.isArray(meta.hashtags)\r\n  ? meta.hashtags.map(String).join(' ')\r\n  : String(meta.hashtags || '#NOXH #nhàởxãhội').trim();\r\n\r\nconst parts = [];\r\nif (hook) parts.push(hook);\r\nif (body) parts.push(body);\r\nif (cta) parts.push(cta);\r\nif (disclaimer) parts.push(disclaimer);\r\nif (hashtags) parts.push(hashtags);\r\n\r\nconst message = parts.join('\\n\\n').trim().slice(0, 63000);\r\n\r\nconst hits = FORBIDDEN.filter((re) => re.test(message)).map((re) => re.source);\r\nif (hits.length) {\r\n  return [{\r\n    json: {\r\n      ok: false,\r\n      error: 'L0_FORBIDDEN',\r\n      l0_hits: hits,\r\n      sheet_row: row.sheet_row,\r\n      normalized_key: row.normalized_key,\r\n    },\r\n  }];\r\n}\r\n\r\nconst link = String(meta.publish_link || meta.link || meta.drive_pack_url || '').trim();\r\nconst imageUrl = String(meta.publish_image_url || meta.cover_image_url || '').trim();\r\nconst pinAfter = meta.pin_after_publish === true;\r\n\r\nreturn [{\r\n  json: {\r\n    ok: true,\r\n    sheet_row: row.sheet_row,\r\n    normalized_key: row.normalized_key,\r\n    segment: row.segment,\r\n    title: String(row.title || '').slice(0, 200),\r\n    message,\r\n    link: link || null,\r\n    publish_image_url: imageUrl || null,\r\n    pin_after_publish: pinAfter,\r\n    page_id: row.page_id || $env.META_PAGE_ID,\r\n    product_type: row.product_type || meta.product_type || 'fb_page_post',\r\n  },\r\n}];"
      },
      "id": "cpp08build",
      "name": "Build Facebook Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1440,
        240
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "c1",
              "leftValue": "={{ $json.ok }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "cpp09ifbuild",
      "name": "IF Build OK",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1680,
        240
      ]
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\r\nif (!item.ok || !item.message) {\r\n  return [{ json: { ...item, publish_ok: false } }];\r\n}\r\n\r\nconst version = String($env.META_GRAPH_API_VERSION || 'v21.0').trim();\r\nconst pageId = String(item.page_id || $env.META_PAGE_ID || '').trim();\r\nconst token = String($env.META_PAGE_ACCESS_TOKEN || '').trim();\r\n\r\nif (!pageId || !token) {\r\n  return [{\r\n    json: {\r\n      ...item,\r\n      publish_ok: false,\r\n      publish_error: 'MISSING_META_CREDENTIALS',\r\n    },\r\n  }];\r\n}\r\n\r\nconst imageUrl = String(item.publish_image_url || '').trim();\r\nconst link = String(item.link || '').trim();\r\n\r\nconst body = {\r\n  message: item.message,\r\n  access_token: token,\r\n};\r\n\r\nlet endpoint = `/${pageId}/feed`;\r\nif (imageUrl) {\r\n  body.url = imageUrl;\r\n  endpoint = `/${pageId}/photos`;\r\n} else if (link) {\r\n  body.link = link;\r\n}\r\n\r\nfunction toFormUrlEncoded(data) {\r\n  return Object.entries(data)\r\n    .filter(([, v]) => v !== undefined && v !== null && v !== '')\r\n    .map(([k, v]) => `${encodeURIComponent(k)}=${encodeURIComponent(String(v))}`)\r\n    .join('&');\r\n}\r\n\r\ntry {\r\n  const res = await this.helpers.httpRequest({\r\n    method: 'POST',\r\n    url: `https://graph.facebook.com/${version}${endpoint}`,\r\n    headers: { 'Content-Type': 'application/x-www-form-urlencoded' },\r\n    body: toFormUrlEncoded(body),\r\n    json: true,\r\n    timeout: 30000,\r\n  });\r\n\r\n  const postId = res.id || res.post_id || null;\r\n  if (!postId) {\r\n    return [{\r\n      json: {\r\n        ...item,\r\n        publish_ok: false,\r\n        publish_error: 'NO_POST_ID_IN_RESPONSE',\r\n        graph_response: res,\r\n        publish_mode: imageUrl ? 'photo' : link ? 'link' : 'text',\r\n      },\r\n    }];\r\n  }\r\n\r\n  return [{\r\n    json: {\r\n      ...item,\r\n      publish_ok: true,\r\n      fb_post_id: postId,\r\n      fb_permalink: `https://www.facebook.com/${postId}`,\r\n      published_at: new Date().toISOString(),\r\n      graph_response: { id: postId },\r\n      publish_mode: imageUrl ? 'photo' : link ? 'link' : 'text',\r\n    },\r\n  }];\r\n} catch (e) {\r\n  const graph = e.response?.data || e.cause?.response?.data || e.description || e.message;\r\n  const fbMsg = graph?.error?.message || (typeof graph === 'string' ? graph : null);\r\n  return [{\r\n    json: {\r\n      ...item,\r\n      publish_ok: false,\r\n      publish_error: fbMsg || JSON.stringify(graph).slice(0, 500),\r\n      publish_error_code: graph?.error?.code || null,\r\n      publish_mode: imageUrl ? 'photo' : link ? 'link' : 'text',\r\n    },\r\n  }];\r\n}"
      },
      "id": "cpp10post",
      "name": "POST Facebook Page Feed",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1920,
        160
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const SHEET_ID = '1fYB4h_BTiKXa9O3lBah-tQonWpQOQMG2aSkSfPs6yU4';\r\nconst DRAFTS_TAB = 'content_drafts';\r\nconst METRICS_TAB = 'content_metrics';\r\n\r\nconst item = $input.first().json;\r\nconst row = item.sheet_row;\r\nif (!row) {\r\n  return [{ json: { ok: false, skip: true, reason: 'NO_SHEET_ROW' } }];\r\n}\r\n\r\nconst loopRow = $('Loop Page Publish').item?.json || {};\r\nconst existingMeta = loopRow.meta_parsed || {};\r\n\r\nconst metaPatch = {\r\n  ...existingMeta,\r\n  page_published: item.publish_ok === true,\r\n  published_at: item.published_at || new Date().toISOString(),\r\n  fb_post_id: item.fb_post_id || null,\r\n  fb_permalink: item.fb_permalink || null,\r\n  publish_error: item.publish_error || null,\r\n  publish_agent: 'content-page-publish',\r\n  publish_mode: item.publish_mode || null,\r\n  pin_after_publish: item.pin_after_publish === true,\r\n};\r\n\r\nconst metaStr = JSON.stringify(metaPatch).slice(0, 50000);\r\nconst status = item.publish_ok ? 'published' : 'approved';\r\n\r\nconst out = {\r\n  ...item,\r\n  sheet_row: row,\r\n  sheet_batch_url: `https://sheets.googleapis.com/v4/spreadsheets/${SHEET_ID}/values:batchUpdate`,\r\n  sheet_batch_body: {\r\n    valueInputOption: 'USER_ENTERED',\r\n    data: [\r\n      { range: `${DRAFTS_TAB}!J${row}`, values: [[status]] },\r\n      { range: `${DRAFTS_TAB}!N${row}`, values: [[metaStr]] },\r\n    ],\r\n  },\r\n  need_metrics_append: item.publish_ok === true && Boolean(item.fb_post_id),\r\n};\r\n\r\nif (out.need_metrics_append) {\r\n  out.metrics_append_url = `https://sheets.googleapis.com/v4/spreadsheets/${SHEET_ID}/values/${encodeURIComponent(`${METRICS_TAB}!A:F`)}:append?valueInputOption=USER_ENTERED&insertDataOption=INSERT_ROWS`;\r\n  out.metrics_append_body = {\r\n    values: [[\r\n      String(item.fb_post_id),\r\n      'fb_page',\r\n      String(item.segment || ''),\r\n      String(item.title || '').slice(0, 200),\r\n      new Date().toISOString(),\r\n      'pending',\r\n    ]],\r\n  };\r\n}\r\n\r\nreturn [{ json: out }];"
      },
      "id": "cpp11prepare",
      "name": "Prepare Sheet Update",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2160,
        160
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.sheet_batch_url }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.sheet_batch_body }}",
        "options": {}
      },
      "id": "cpp11batch",
      "name": "POST Draft Sheet Batch",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2400,
        160
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "c1",
              "leftValue": "={{ $(\"Prepare Sheet Update\").item.json.need_metrics_append }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "cpp11ifmetrics",
      "name": "IF Append Metrics",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2640,
        160
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $(\"Prepare Sheet Update\").item.json.metrics_append_url }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $(\"Prepare Sheet Update\").item.json.metrics_append_body }}",
        "options": {}
      },
      "id": "cpp11postmetrics",
      "name": "POST content_metrics",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2880,
        80
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const prep = $('Prepare Sheet Update').item.json;\r\n\r\nconst data = $getWorkflowStaticData('global');\r\nif (!data.cpp_stats) data.cpp_stats = { publish_ok: 0, publish_fail: 0, l0_fail: 0 };\r\n\r\nif (prep.publish_ok) data.cpp_stats.publish_ok += 1;\r\nelse data.cpp_stats.publish_fail += 1;\r\n\r\nlet metricsAppended = false;\r\nif (prep.need_metrics_append === true) {\r\n  const m = $input.first().json || {};\r\n  metricsAppended = Boolean(m.updates || m.spreadsheetId || m.updatedRange);\r\n}\r\n\r\nreturn [{\r\n  json: {\r\n    ok: prep.publish_ok === true,\r\n    sheet_row: prep.sheet_row,\r\n    normalized_key: prep.normalized_key,\r\n    fb_post_id: prep.fb_post_id || null,\r\n    fb_permalink: prep.fb_permalink || null,\r\n    metrics_appended: metricsAppended,\r\n    publish_error: prep.publish_error || null,\r\n  },\r\n}];"
      },
      "id": "cpp11finalize",
      "name": "Finalize Sheet Update",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3120,
        160
      ]
    },
    {
      "parameters": {
        "jsCode": "const prep = $('Prepare Sheet Update').item?.json || $('POST Facebook Page Feed').item?.json || {};\r\n\r\nif (!prep.publish_ok || !prep.pin_after_publish || !prep.fb_post_id) {\r\n  return [{ json: { pin_notify_skipped: true, reason: 'NO_PIN_REQUEST' } }];\r\n}\r\n\r\nconst enabled = String($env.TELEGRAM_APPROVAL_ENABLED || '').toLowerCase() === 'true';\r\nif (!enabled) {\r\n  return [{\r\n    json: {\r\n      pin_notify_skipped: true,\r\n      reason: 'TELEGRAM_APPROVAL_ENABLED',\r\n      fb_post_id: prep.fb_post_id,\r\n      fb_permalink: prep.fb_permalink,\r\n    },\r\n  }];\r\n}\r\n\r\nconst token = $env.MAGNIX_WEBHOOK_TOKEN || '';\r\nconst base = String($env.N8N_PUBLIC_URL || 'https://n8n.vmd.asia').replace(/\\/$/, '');\r\nconst eventId = `pin:${prep.fb_post_id}:${Date.now()}`;\r\n\r\nconst body = {\r\n  event_id: eventId,\r\n  event_type: 'pin_page_post_requested',\r\n  title: prep.title || 'Facebook Page post',\r\n  message: [\r\n    '📌 **Ghim bài trên Page** (Meta API không hỗ trợ ghim đầy đủ — thao tác tay)',\r\n    '',\r\n    `Post: ${prep.fb_permalink || prep.fb_post_id}`,\r\n    `Sheet row: ${prep.sheet_row || '—'}`,\r\n    '',\r\n    'Meta Business Suite → Page → Posts → Ghim',\r\n  ].join('\\n'),\r\n  sheet_row: prep.sheet_row,\r\n  meta: {\r\n    fb_post_id: prep.fb_post_id,\r\n    fb_permalink: prep.fb_permalink,\r\n    pin_after_publish: true,\r\n  },\r\n};\r\n\r\ntry {\r\n  await this.helpers.httpRequest({\r\n    method: 'POST',\r\n    url: `${base}/webhook/magnix/telegram-notify`,\r\n    headers: {\r\n      Authorization: token ? `Bearer ${token}` : '',\r\n      'Content-Type': 'application/json',\r\n    },\r\n    body,\r\n    json: true,\r\n    timeout: 15000,\r\n  });\r\n  return [{ json: { pin_notify_fired: true, event_id: eventId, fb_post_id: prep.fb_post_id } }];\r\n} catch (e) {\r\n  return [{ json: { pin_notify_fired: false, pin_notify_error: e.message || 'NOTIFY_FAIL', fb_post_id: prep.fb_post_id } }];\r\n}"
      },
      "id": "cpp11pinnotify",
      "name": "Notify Pin Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3360,
        160
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const data = $getWorkflowStaticData('global');\r\nif (!data.cpp_stats) data.cpp_stats = {};\r\ndata.cpp_stats.l0_fail = (data.cpp_stats.l0_fail || 0) + 1;\r\ndata.cpp_stats.publish_fail = (data.cpp_stats.publish_fail || 0) + 1;\r\nreturn $input.all();"
      },
      "id": "cpp12l0",
      "name": "Track L0 Fail",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1920,
        320
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = $getWorkflowStaticData('global');\nconst stats = data.cpp_stats || {};\nlet hint = null;\nif ((stats.publish_ok || 0) === 0) {\n  if (stats.no_candidates) hint = 'Không candidate — cần approved + fb_page_post|fb_page_post_image + scheduled_at<=now';\n  else if ((stats.l0_fail || 0) > 0) hint = 'L0 forbidden — sửa nội dung trên Sheet';\n  else if ((stats.publish_fail || 0) > 0) hint = 'Graph API fail — kiểm tra META_PAGE_ACCESS_TOKEN + quyền pages_manage_posts';\n  else hint = 'Bật CONTENT_PAGE_PUBLISH_ENABLED=true và điền META_PAGE_ID';\n}\nreturn [{ json: {\n  ok: true,\n  workflow: 'content-page-publish',\n  stats,\n  batch_size: 3,\n  hint,\n  finished_at: new Date().toISOString(),\n}}];"
      },
      "id": "cpp13summary",
      "name": "Build Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3600,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = $getWorkflowStaticData('global');\nif (!data.cpp_stats) data.cpp_stats = {};\ndata.cpp_stats.no_candidates = true;\nconst msg = $input.first()?.json?.message || 'No page publish candidates';\nreturn [{ json: { ok: true, empty: true, message: msg, blockers: $input.first()?.json?.blockers } }];"
      },
      "id": "cpp14empty",
      "name": "No Candidates Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        720,
        420
      ]
    }
  ],
  "connections": {
    "Schedule Page Publish": {
      "main": [
        [
          {
            "node": "Fetch content_drafts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking 'Execute workflow'": {
      "main": [
        [
          {
            "node": "Fetch content_drafts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch content_drafts": {
      "main": [
        [
          {
            "node": "Parse Filter Due Posts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Filter Due Posts": {
      "main": [
        [
          {
            "node": "IF Has Candidates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Has Candidates": {
      "main": [
        [
          {
            "node": "Reset Run Stats",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Candidates Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reset Run Stats": {
      "main": [
        [
          {
            "node": "Loop Page Publish",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Page Publish": {
      "main": [
        [
          {
            "node": "Build Summary",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Facebook Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Facebook Message": {
      "main": [
        [
          {
            "node": "IF Build OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Build OK": {
      "main": [
        [
          {
            "node": "POST Facebook Page Feed",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Track L0 Fail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST Facebook Page Feed": {
      "main": [
        [
          {
            "node": "Prepare Sheet Update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Sheet Update": {
      "main": [
        [
          {
            "node": "POST Draft Sheet Batch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST Draft Sheet Batch": {
      "main": [
        [
          {
            "node": "IF Append Metrics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Append Metrics": {
      "main": [
        [
          {
            "node": "POST content_metrics",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Finalize Sheet Update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST content_metrics": {
      "main": [
        [
          {
            "node": "Finalize Sheet Update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Finalize Sheet Update": {
      "main": [
        [
          {
            "node": "Notify Pin Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify Pin Request": {
      "main": [
        [
          {
            "node": "Loop Page Publish",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Track L0 Fail": {
      "main": [
        [
          {
            "node": "Loop Page Publish",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Candidates Summary": {
      "main": [
        [
          {
            "node": "Build Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "magnix"
    },
    {
      "name": "content-page-publish"
    },
    {
      "name": "facebook"
    }
  ],
  "meta": {
    "templateCredsSetupCompleted": false
  }
}